<div>
  <div class="my-4 py-3">
    <h3 class="text-center">बैंक के माध्यम से </h3>
    <div class="row">
      <div class="col-2"></div>
      <table class="col-8">
        <tbody>
          <tr>
            <td>BANK NAME</td>
            <td>Oriental Bank of Commerce</td>
          </tr>
          <tr>
            <td> &nbsp;</td>
            <td> &nbsp;</td>
          </tr>
          <tr>
            <td>Account NAME</td>
            <td>KAILASH ASHRAM CHARITABLE TRUST</td>
          </tr>
          <tr>
            <td> &nbsp;</td>
            <td> &nbsp;</td>
          </tr>
          <tr>
            <td>Account No.</td>
            <td>08342191014384</td>
          </tr>
          <tr>
            <td> &nbsp;</td>
            <td> &nbsp;</td>
          </tr>
          <tr>
            <td>IFSC Code</td>
            <td>PUNB0083410</td>
          </tr>
          <tr>
            <td> &nbsp;</td>
            <td> &nbsp;</td>
          </tr>
        </tbody>
      </table>
      <div class="col-2"></div>
    </div>
  </div>
  <div class="my-4 py-3">
    <h3 class="text-center">UPI (Google Pay/PhonePe/PayTM) के माध्यम से </h3>
    <div class="row">
      <div class="col-md-2"></div>
      <table class="col-md-8 text-center">
        <h5>9889669346</h5>
        <img height="300px" src="https://ik.imagekit.io/kailash/Donation/UPI-QR-Code/upi.jpeg?updatedAt=1688378391897" alt="" srcset="">
      </table>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>



<iframe src="https://form.jotform.com/kailashmathkashivishwanath/donation-form" style="width: 100%; height: 100%;"
  frameborder="0"></iframe>