
<div class="art sanatan-sanskriti-art my-4 rounded">
  <div class="container1">
    <h5 class="heading rounded-top">सनातन संस्कृति के प्रतीक</h5>
    <div class="text-center">
      <h4 class="title">कैलाश मठ, काशी</h4>
      <!-- <h6>स्थापना : Dec 7, 2017</h6> -->
    </div>
    <div class="content-1 m-4">
      <div class="col-md-6 ">
        <p>कैलाश मठ, जहां भगवान शिव की पूजा उनके शिवलिंगम में की जाती है, वाराणसी के भेलूपुर गांव में स्थित
          है।
          यह मंदिर वाराणसी के साथ-साथ भारत के अन्य हिस्सों में भी बेहद प्रसिद्ध है। यह मंदिर शहर के केंद्र में
          स्थित है और विश्वेश्वर या विश्वनाथ के नाम से जाना जाता है, जो शिव के ज्योतिर्लिंग से जुड़ा हुआ है।
          इस
          पुराने मंदिर को इतिहास में कई बार नष्ट किया गया और फिर से निर्माण किया गया है। </p>
      </div>
      <div class="col-md-6">
        <a href="https://ik.imagekit.io/kailash/mathh/tr:pr-true,q-50/temple-1.jpg?updatedAt=1687099529636">
          <img
            src="https://ik.imagekit.io/kailash/mathh/tr:ot-Kailash%20Math%20Kashi,otc-FFFFFF,otbg-FF0000,or-50,ofo-bottom,otp-10_50_10_50,ots-100,pr-true,q-1/temple-1.jpg?updatedAt=1687099529636"
            style="object-fit: cover;" alt="First image">
        </a>
        <!-- <img
              src="https://ik.imagekit.io/kailash/telegram/monks/tr:otf-Arya-Regular.ttf,ot-%20स्वामी%20आशुतोषानंद,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040,pr-true/monks.jpeg"
              alt="First image"> -->
      </div>
    </div>
    <div class="content-2 m-4">
      <div class="col-md-6">
        <a href="https://ik.imagekit.io/kailash/mathh/tr:pr-true,q-50/lord-shiva.jpeg?updatedAt=1687099999249">
          <img src="https://ik.imagekit.io/kailash/mathh/tr:pr-true,q-1/lord-shiva.jpeg?updatedAt=1687099999249"
            alt="Second image">
        </a>
        <!-- <img
              src="https://ik.imagekit.io/kailash/telegram/monks/tr:pr-true,otf-Arya-Regular.ttf,ot-%20जय%20श्री%20राम,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040/monks.jpeg"
              alt="Second image"> -->
      </div>
      <div class="col-md-6">
        <p>श्रावण मास और महाशिवरात्रि के अवसर पर यहां के पवित्र मंदिर में धूमधाम से त्योहार मनाए जाते हैं।
          भारत
          और विदेशों से लोग यहां आते हैं और भगवान शिव की पूजा, पवित्र कुएं से पानी लेना और दर्शन करने का आनंद
          लेते हैं। देव दिवाली और प्रोडोश व्रत भी यहां मनाए जाते हैं। मेले और उपवास के साथ शिवरात्रि भी यहां
          विशेष रूप से मनायी जाती है। कैलाश मठ आध्यात्मिक और पर्यटन स्थल के रूप में चर्चित है, जहां
          श्रद्धालुओं
          को भगवान शिव की पूजा, धार्मिक आयोजनों में भाग लेने का मौका मिलता है। इसकी सुंदरता, धार्मिक महत्व और
          पवित्रता ने इसे देशभर में प्रसिद्ध किया है। कैलाश मठ यात्रा भारतीय संस्कृति, आध्यात्मिकता और शिव
          भक्ति
          के लिए महत्वपूर्ण स्थल है।</p>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/LotlHFK29lk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
  <hr>
  <div class="m-4">
    <div class="row">
      <div class="col-6 d-flex align-items-stretch">
        <div class="card vip-2-card" routerLink="/ramchandra-giri">
          <img src="https://ik.imagekit.io/kailash/4x3/rcgiri16x9?updatedAt=1688413240902" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">पूर्व महामंडलेश्वर स्वामी रामचन्द्र गिरि जी महाराज
            </h5>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-warning" style="border: 1px solid brown;">जीवनी</button>
            </div>
            <!-- <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p> -->
          </div>
          <!-- <div class="card-footer">
            <small class="text-muted">Last updated 5 mins ago</small>
          </div> -->
        </div>
      </div>
      <div class="col-6 d-flex align-items-stretch">
        <div class="card vip-2-card" routerLink="/swami-ashu">
          <img src="https://ik.imagekit.io/kailash/4x3/swamiji16x9?updatedAt=1688413265622" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">महामण्डलेशवर स्वमी आशुतोषानन्द गिरी जी महाराज</h5>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-warning" style="border: 1px solid brown;">जीवनी</button>
            </div>
          </div>
          <!-- <div class="card-footer">
            <small class="text-muted">Last updated 5 mins ago</small>
          </div> -->
        </div>
      </div>

    </div>
  </div>
  <div class="container1">
    <!-- <h1 class="heading">कैलाश मठ गौशाला</h1> -->
    <h4 class="sub-heading">आइये गुरुकुल परंपरा की ओर</h4>

    <div class="content-1 m-4">
      <div class="col-md-6 d-flex align-items-center">
        <p>आधुनिक विद्वान श्री जितेन्द्र जी तिवारी-व्याकरणाचार्य द्वारा यहाँ साधन हीन वित्तहीन विद्यार्थियों को
          आरम्भ से लेकर उच्च शिक्षा, उनके रहने एवं भोजन की व्यवस्था देकर सर्वांगीण विकास सुनिश्चित किया जाता है।
        </p>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <a href="https://ik.imagekit.io/kailash/gurukul/tr:pr-true,q-100/gurukul-group-1.jpg?updatedAt=1687104242698">
          <img src="https://ik.imagekit.io/kailash/gurukul/tr:pr-true,q-10/gurukul-group-1.jpg?updatedAt=1687104242698"
            alt="First image">
        </a>
        <!-- <img
              src="https://ik.imagekit.io/kailash/telegram/monks/tr:otf-Arya-Regular.ttf,ot-%20स्वामी%20आशुतोषानंद,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040,pr-true/monks.jpeg"
              alt="First image"> -->
      </div>
    </div>
    <div class="content-2 m-4 d-flex align-items-center">
      <div class="col-md-6">
        <a href="https://ik.imagekit.io/kailash/gurukul/tr:pr-true,q-100/gurukul-group-1-1.jpg?updatedAt=1687104609456">
          <img
            src="https://ik.imagekit.io/kailash/gurukul/tr:pr-true,q-50/gurukul-group-1-1.jpg?updatedAt=1687104609456"
            alt="Second image">
        </a>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <p><b>“शरीरमाद्यं खलु धर्म साधनम्"</b>, अर्थात धर्म की साधना करनी है, तो सबसे पहला साधन है अपना शरीर
          स्वस्थ्य
          रखें। योग करे निरोग रहें। कैलाश मठ में नित्य योग कराया जाता है। <br>
          <i>- योगाचार्य स्वामी राघवानन्द गिरी जी
            महाराज</i>
        </p>
      </div>
    </div>
    <div class="content-4 m-4">
      <h4 class="text-center"
        style="font-family: 'Kalam';color: rgb(220, 20, 20); text-shadow: 1px 1px 10px rgb(255, 255, 255);">
        सनातन धर्म, सत्यम शिवम् सुन्दरम
      </h4>
      <p>

        जिसे हिन्दू धर्म के वैकल्पिक नाम से जाना जाता है। सनातन का अर्थ है शाश्वत या हमेशा बना रहने वाला जो
        अनादि काल से चला आ रहा और जिसका कभी अन्त नहीं होगा वही सनातन है। सनातन धर्म के मूल तत्व सत्य, अहिंसा,
        दया, क्षमा, दान, यम, नियम आदि का महत्व है। असतो मा सद्गमय, तमसो मा ज्योतिर्गमय, मृत्योर्मा अमृतं गमय
        अर्थात् हे ईश्वर मुझे असत्य से सत्य की ओर ले चलो अन्धकार से प्रकाश की ओर ले चलो। मृत्यु से अमरता की ओर
        ले चलो।

        मृत्यु आये इससे पहले ही सनातन धर्म के सत्य मार्ग पर आ जाने में ही भलाई है। जो लोग उस परम तत्व परखाद्य

        परमेश्वर को नहीं मानते हैं वे असत्य में गिरते हैं। मृत्यु काल में बिना लक्ष्य के यात्री की भाँति अनन्त

        अंधकार में पड़ते हैं।

      </p>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" routerLink="/gurukul">अधिक जानकारी</button>
      </div>
    </div>
  </div>

  <hr>

  <div class="container1">
    <h4 class="sub-heading">गोवंश की सेवा एवं गौशाला प्रबंधन</h4>
    <div>
      <div class="content-1 m-4">
        <div class="col-md-6 d-flex align-items-center">
          <p>भारतीय संस्कृति में गौमाता का अत्यन्त महत्वपूर्ण स्थान है, गौमाता की पूजा वैदिक काल से चली आ रही
            है, जिसे द्वापर युग में भगवान श्री कृष्ण ने पुनः प्रतिष्ठापित करते हुए गौमाता की सेवा स्वयं की एवं
            सम्पूर्ण मानव समाज को गौसेवा करने का मार्ग दर्शन दिया। जिसे द्वापर युग से लेकर कलयुग तक जारी है,
            लेकिन आधुनिकता का दिखावा करने के कारण नव समाज उससे दूर होता जा रहा है, उपरोक्त गौसेवा, एवं गौरक्षा
            का कार्य प्रतिष्ठित सन्त समाज कैलाश मठ काशी के महामण्डलेशवर 1008 श्री रामचन्द्र गिरी जी के सनिध्य
            में सम्पूर्ण निष्ठा के साथ हो रहा है।</p>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <a href="https://ik.imagekit.io/kailash/gaushala/tr:pr-true,q-1/gaushala-swami-1.jpg?updatedAt=1687170759351">

            <img
              src="https://ik.imagekit.io/kailash/gaushala/tr:pr-true,q-1/gaushala-swami-1.jpg?updatedAt=1687170759351"
              alt="First image">
          </a>
        </div>
      </div>
      <div class="content-2 m-4">
        <div class="col-md-6 d-flex align-items-center">
          <a
            href="https://ik.imagekit.io/kailash/gaushala/tr:pr-true,q-1/gaushala-yogi-adityanath-1.jpg?updatedAt=1687170022652">

            <img
              src="https://ik.imagekit.io/kailash/gaushala/tr:pr-true,q-1/gaushala-yogi-adityanath-1.jpg?updatedAt=1687170022652"
              alt="Second image">
          </a>
          <!-- <img
                src="https://ik.imagekit.io/kailash/telegram/monks/tr:pr-true,otf-Arya-Regular.ttf,ot-%20जय%20श्री%20राम,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040/monks.jpeg"
                alt="Second image"> -->
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <p>गो माता की सेवा मानवता के लिए महत्वपूर्ण है।
            गौ माता धरती की अनमोल संपदा हैं, जिनका संरक्षण करना आवश्यक है।
            गौवंश की सेवा से हम देश की समृद्धि में योगदान दे सकते हैं।
            उनका पालन करने से हम आत्मनिर्भरता की प्राप्ति कर सकते हैं।
            गो माता की सेवा करना धार्मिकता और नैतिकता का प्रतीक है।</p>
        </div>
      </div>
    </div>
    <div>
      <h4 class="sub-heading">हमारी दूसरी शाखा में गौ सेवा</h4>
      <div class="content-1 m-4">
        <div class="col-md-6 d-flex align-items-center">
          <p>काशगंज शूकर क्षेत्र सौरो जी जिला काशगंज (उ0प्र0) में भगवान वाराहा मन्दिर परिसर में गौशाला सुशोभित
            है जहाँ 100 से अधिक देशी गोवंश जिसे हमारे स्वंय सेवक कसाईयों से छुड़ा कर लाये, उपरोक्त गोवंश की सेवा
            पूर्ण निष्ठा के साथ सन्त समाज द्वारा जारी है आप भी उसमें सम्मिलित होकर पुण्य के भागी बनें। </p>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <a href="https://ik.imagekit.io/kailash/gaushala/gaushala-ravi-1.jpg?updatedAt=1687170022802">
            <img src="https://ik.imagekit.io/kailash/gaushala/gaushala-ravi-1.jpg?updatedAt=1687170022802"
              alt="First image">
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" routerLink="/gaushala">अधिक जानकारी</button>
      </div>
    </div>
    <hr>
    <div>
      <h4 class="sub-heading">चिकित्सा संबंधित सेवा</h4>
      <div class="content-1 m-4">
        <div class="col-md-6 d-flex align-items-center">
          <p>होम्यो विशेषज्ञ डा० एस० के० राय (बी.एच.एम.एस.) होम्यो हापिटल जिसमें मात्र 5 रूपये फीस लेकर गंभीर से
            गंभीर बिमारी का इलाज एवं दवाई उपल्बध करायी जाती है।</p>
        </div>
        <div class="col-md-6">
          <a href="https://ik.imagekit.io/kailash/chikitsa/tr:q-1.pr-true/chikitsa-1-1.png?updatedAt=1687176728740">
            <img src="https://ik.imagekit.io/kailash/chikitsa/tr:q-1.pr-true/chikitsa-1-1.png?updatedAt=1687176728740"
              alt="First image">
          </a>
        </div>
      </div>
      <div class="content-2 m-4">
        <div class="col-md-6 d-flex align-items-center">
          <a href="https://ik.imagekit.io/kailash/chikitsa/neurotherapy.png?updatedAt=1687176600071">
            <img src="https://ik.imagekit.io/kailash/chikitsa/neurotherapy.png?updatedAt=1687176600071"
              alt="Second image">
          </a>
        </div>
        <div class="col-md-6">
          <p>न्यूरोथेरेपिस्ट आशुतोष पाण्डेय

            गव्य सिद्ध एवं योग- चिकित्सा द्वारा वृद्धो की सेवा डा०सुभाष चन्द्र पाण्डेय से करायी जाती है।
          </p>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="container-1">
    <h4 class="sub-heading">हमारे वार्षिक उत्सव</h4>
    <div class="content-2 m-4">
      <div class="col-md-6">
        <ul style="list-style: square;">
          <li>गुरू पूर्णिमा महोत्सव (एकादशी से पूनम तक) कैलाश मठ काशी</li>
          <li>शिवरात्री महोत्सव (फाल्गुन कृ० त्रयोदशी) कैलाश मठ काशी।</li>
          <li>श्री गुरूदेव प्राक्ट्य उत्सव (21 अक्टूबर) कैलाश मठ काशी</li>
          <li>भाद्रपद शुक्लपक्ष तृतीया -भगवान वाराह जयन्तोत्सव - सौरो काशगंज, उ०प्र० </li>
          <li>मार्गशीर्ष मेला मोक्षदा एकादशी गीता जयन्ती पर त्रिदिवसीय महोत्सव, सौरो काशगंज, उ०प्र०</li>
          <li>शारदीय नवरात्रि चण्डी यज्ञ उत्सव - अद्भुत महादेव मन्दिर, बाँसगाँव, चम्पारण (बिहार)</li>
          <li>प्राणप्रतिष्ठा महोत्सव, बसन्त पंचमी - एकवना मठ, ग्राम एकवना, आरा (बिहार)</li>
          <li>माघ शुक्ल पक्ष त्रयोदशी प्राण प्रतिष्ठा महोत्सवः शंकराचार्य मठ, कौड़िया (बिहार)</li>
          <li>नव वर्ष</li>
          <li>26 जनवरी (गणतंत्र दिवस)</li>
          <li>15 अगस्त  (स्वतंत्रता दिवस)</li>
        </ul>
      </div>
      <div class="col-md-6 align-items-center">
        <div class="row row-img-grid">
          <div class="column column-img-grid">
            <a href="https://ik.imagekit.io/kailash/utsav/swami-ashu-kumbh2.jpeg?updatedAt=1687179185715">
              <img
                src="https://ik.imagekit.io/kailash/utsav/tr:otf-Arya-Regular.ttf,ot-कुंभ%20मेला,otc-FFFFFF,otbg-FF0000,or-50,ofo-bottom,otp-10_50_10_50,ots-100,pr-true,q-1/swami-ashu-kumbh2.jpeg?updatedAt=1687179185715"
                style="width:100%">
            </a>
            <a href="https://ik.imagekit.io/kailash/utsav/swami-ash1.jpeg?updatedAt=1687179185746">
              <img src="https://ik.imagekit.io/kailash/utsav/swami-ash1.jpeg?updatedAt=1687179185746"
                style="width:100%">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <hr>

  <div class="container-1">
    <h4 class="sub-heading">हमारी अन्य शाखाएँ</h4>
    <div class="content-1 m-4">
      <div class="col">
        <ul style="list-style: square;">
          <li>
            संन्यास आश्रम बैजनत्था वाराणसी (उoप्रo), यहाँ वेद एवं व्याकरण पढ़ने वाले छात्रों के रहने एवं आवश्यक संसाधनों
            को उपत्यध कराया जाता है, जिसका प्रबन्धन स्वामी अजितानन्द गिरी जी महाराज करते है। to:9506914417
            <br>
            <br>
          </li>
          <li>
            शंकराचार्य सत्संग भवन टेडी घाट पटना सिटी (बिहार), आश्रम में नित्य सत्संग एवं योग साधना कारायी जाती है। तथा
            संस्कार शिविर एवं स्वास्थ्य सम्बन्धी विविध प्रकार के आयोजन किये जाते है। जिसका प्रबन्धन शंकराचार्य सत्संग
            भवन, ट्रस्ट द्वारा किया जाता है। सचिव मुरारी जी। मो0: 9308084868
            <br>
            <br>
          </li>
          <li>
            शर्कराचार्य मठ ग्राम ऐकोना, आरा (बिहार), यहाँ ग्रामीण असहाय बच्चों की शिक्षा के लिए गुरुकुल विद्यालय चलाया
            जा रहा है, जिसकी देख रेख स्वामी महानन्द गिरी जी महाराज कर रहे है।
          </li>
          <li>
            शर्कराचार्य मठ कौड़िया (बिहार), यहाँ यूरीया रहित जैविक पद्धति से अगेनिक खेती होती है, जिसमें गरीबों को अनेक
            प्रकार के रोजगार उपलब्ध कराये जाते जाते है यहाँ का प्रबन्धन स्वामी शाश्वतानन्द गिरी जी महाराज करते है। मो0
            9140643086
            <br><br>
          </li>
          <li>
            अदभूत महादेव मठ बांस गांव पश्चिम चम्पारण (बिहार), यहाँ नित्य प्रति सत्संग एवं योग साधना, सनातन धर्म का
            प्रचार प्रसार किया जाता है। जिसका प्रबन्धन स्वामी रविशकंरानन्द गिरी जी महाराज करते है। मो0 9939498277
            <br>
            <br>
          </li>
          <li>
            श्री वराह भगवान मंदिर सौरों (उ०प्र०) मुरली मनोहर मन्दिर, श्री वराह भगवान गौशाला, सौरों उपरोक्त तीनों आश्रमों
            का प्रबन्धन स्वामी विदेहानन्द गिरी जी महाराज करते है। मो0 9368056468 सम्पर्क सूत्रः पूजारी तिगनाथ नरेश जी -
            <br>
            <br>
          </li>
          <li>
            प्रमुख संस्थान कैलाश मठ, वाराणसी-
            श्रीराम चन्द्र गुरूकुल, कैलाश गौशाला एवं अन्न क्षेत्रे योग साधना चिकित्सा सेवा एवं सत्संग का आयोजन नित्य
            होता है। जिसका प्रवन्धन स्वामी अनन्तानन्द पुरी जी महाराज मो0 9452108425 स्वामी राघवानन्द गिरी जी महाराज मो0
            9457127271 सचिव बजरंग लाल शर्मा (दिल्ली)
            मो0: 9811251446' करते हैं।
            <br>
            <br>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-1">
    <h4 class="sub-heading">हमारी सहयोगी संस्थाएँ </h4>
    <div class="content-1 m-4">
      <div class="col-md-6">

        <ul style="list-style: square;">
          <li>सत्गुरू भक्त मण्डल, गुजरात - विरेन्द्र सिंह राणा (वीरू भाई), संचालक - मो0: 8141841417</li>
          <li>महिला सत्संग मण्डल, बिरला मन्दिर, पटना- विनोद जी अग्रवाल, संचालक- मो0: 9334115752</li>
          <li>महिला भक्त मण्डल, कैलाश मठ, काशी - श्रीमती इन्दू सिंह, अध्यक्ष - मो० : 0: 8318941514 </li>
          <li>भक्ति योग विज्ञान संघ, मुम्बई - मनोज कश्यप, संचालक- मो0: 9819113447</li>
          <li>सद्गुरू संस्कार समिति, दिल्ली - रितु वशिष्ठ, संचालक- मो0: 8368680396</li>
        </ul>
      </div>
      <div class="col-md-6 p-4 align-items-center">
        <a class="" href="https://ik.imagekit.io/kailash/org/sahyogi-1.png?updatedAt=1687513662452">
          <img src="https://ik.imagekit.io/kailash/org/tr:q-1/sahyogi-1.png?updatedAt=1687514039100" alt="">
        </a>
      </div>
    </div>
  </div>

  <hr>

  <div class="container-1 sevayen">
    <h4 class="sub-heading">ऐसे करे सेवाएँ </h4>
    <div>
      <p class="text-center m-5"
        style="font-size: large; background-color: rgba(255, 255, 0, 0.303);border: 1px solid brown; border-radius: 10px;">
        आप भी अपने जन्म दिन एवं अपने बच्चों के जन्म दिन व अपनी शादी की सालगीरह पर या माता-पिता की पुण्यतिथि पर सेवा देकर
        पुण्य के भागी बन सकते है।</p>
    </div>
    <div class="content-1 m-4">
      <div class="col-md-6">
        <ul class="sevayen-ul">
          <li>1 दिन के दोनो समय विद्यार्थियों एवं सन्तों का भण्डारा, गौ ग्रास, मन्दिर में भोग प्रसाद एवं यजमान के
            कल्यानार्थ रुद्राभिषेक की सेवा मात्र रू. 11000/- तथा एक वक्त की सभी सेवायें रू. 5500/-</li>
          <hr>
          <li>1 गाय की वर्ष भर की सेवा रू. 21000/- और एक महीने की रू. 2100/-
            <hr>
          <li>गौशाला में एक ट्रक भूसा की सेवा रू. 31000/-</li>
          <hr>
          <li>गुरूकुल के छात्रों के लिए आवश्यक वस्त्र, पुस्तक एवं दवाई हेतु योगदान प्रति छात्र मासिक रू. 2500/- एवं
            वार्षिक रू.25000/-</li>
          <hr>
          <li>छात्रावास/सन्त निवासार्थ कमरा बनवायें। प्रति कमरा योगदान रू. 3,00,000/- </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="container image-grid-seva" routerLink="/media-coverage">
          <div class="row">
            <div class="col-6">
              <div class="square-box">
                <a class="square-content">
                  <img src="https://ik.imagekit.io/kailash/social-works/bhojan-1.png?updatedAt=1687368882986"
                    alt="Image 1">
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="square-box">
                <a class="square-content">
                  <img
                    src="https://ik.imagekit.io/kailash/social-works/swamiji-distributing-foods.png?updatedAt=1687368882947"
                    alt="Image 1">
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="square-box">
                <a class="square-content">
                  <img src="https://ik.imagekit.io/kailash/social-works/bhojan-police.png?updatedAt=1687368882929"
                    alt="Image 1">
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="square-box">
                <a class="square-content">
                  <img src="https://ik.imagekit.io/kailash/social-works/monk-with-cow.png?updatedAt=1687370241036"
                    alt="Image 1">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p class="text-center mx-5"
        style="font-size: large; background-color: rgba(255, 255, 0, 0.557);border: 1px solid brown; border-radius: 10px;">
        ध्यातव्य - विशेष आपके द्वारा दिया गया छोटे से छोटे अंशदान भी कृतज्ञता के साथ संस्मरण किया जायेगा। सेवा करने हेतु
        संस्थान से जुड़े।</p>
      <div class=" d-flex align-items-center justify-content-center p-3">
        <a routerLink="/donation" class="text-center">
          <button type="button" class="btn btn-warning neon-text" style="text-shadow: 0px 0px rgb(255, 255, 255);">दान
            करें</button>
        </a>
      </div>
    </div>

  </div>
</div>

<div class="art residing-monk-art my-4 rounded">
  <h2 class="text-center heading rounded-top">मठ में निवास कर रहे मुख्य संत</h2>
  <div class="vip-people d-flex flex-wrap justify-content-center align-content-stretch">
    <div class="card card-mm my-2 bd-highlight" style="width: 18rem;">
      <img src="https://ik.imagekit.io/kailash/residing-mukhya-sant/tr:w-600,h-400,pr-true/anantanand.jpeg"
        class="card-img-top" alt="...">
      <div class="text-center bg-warning p-1" style="font-weight: bold;">
        स्वामी अनंतानंद गिरि जी महाराज
      </div>
      <!-- <div class="card-body">
            <div class="card-text">
              <div id="myElement1">
                <p>स्वामी अनंतानंद एक संन्यासी हैं जो कैलाश मठ काशी में निवास करते हैं।
                  उनका जीवन समर्पित है अध्यात्म और आध्यात्मिक सेवा को।</p>
                <p class="collapse">उनकी तपस्या, शान्ति और ज्ञान से युक्त प्रवचनों से लोगों को प्रेरित करते हैं।
                  उनके द्वारा दिया गया धार्मिक ज्ञान और मार्गदर्शन लोगों की आत्मिक विकास में सहायता करता है।
                  स्वामी अनंतानंद एक प्रेरणा स्रोत हैं और उनके समर्पण और सेवा भाव से वे लोगों के दिलों में स्थान
                  बनाए रखते हैं।</p>
                <div class="text-center read-more">
                  <a class="btn bg-light" data-bs-toggle="collapse" href="#myElement1 .collapse">Read more</a>
                </div>
              </div>
            </div>
          </div> -->
    </div>
    <div class="card card-mm my-2 bd-highlight" style="width: 18rem;">
      <img src="https://ik.imagekit.io/kailash/residing-mukhya-sant/tr:w-600,h-400,pr-true/shaswatanand.jpeg" class=""
        alt="...">
      <div class="text-center bg-warning p-1" style="font-weight: bold;">
        स्वामी शाश्वतानन्द गिरि जी महाराज
      </div>
      <!-- <div class="card-body">
            <div class="card-text">
              <div id="myElement2">
                <p>स्वामी अनंतानंद एक संन्यासी हैं जो कैलाश मठ काशी में निवास करते हैं।
                  उनका जीवन समर्पित है अध्यात्म और आध्यात्मिक सेवा को।</p>
                <p class="collapse">उनकी तपस्या, शान्ति और ज्ञान से युक्त प्रवचनों से लोगों को प्रेरित करते हैं।
                  उनके द्वारा दिया गया धार्मिक ज्ञान और मार्गदर्शन लोगों की आत्मिक विकास में सहायता करता है।
                  स्वामी अनंतानंद एक प्रेरणा स्रोत हैं और उनके समर्पण और सेवा भाव से वे लोगों के दिलों में स्थान
                  बनाए रखते हैं।</p>
                <div class="text-center read-more">
                  <a class="btn bg-light" data-bs-toggle="collapse" href="#myElement2 .collapse">Read more</a>
                </div>
              </div>
            </div>
          </div> -->
    </div>
    <div class="card card-mm my-2 bd-highlight" style="width: 18rem;">
      <a href="https://ik.imagekit.io/kailash/residing-mukhya-sant/tr:w-600,h-400,pr-true/vidyanand-giri.jpeg">
        <img src="https://ik.imagekit.io/kailash/residing-mukhya-sant/tr:w-600,h-400,pr-true/vidyanand-giri.jpeg"
          class="card-img-top" alt="...">
      </a>
      <div class="text-center bg-warning p-1" style="font-weight: bold;">
        स्वामी विद्यानन्द गिरि जी महाराज
      </div>
      <!-- <div class="card-body">
            <div class="card-text">
              <div id="myElement3">
                <p>स्वामी अनंतानंद एक संन्यासी हैं जो कैलाश मठ काशी में निवास करते हैं।
                  उनका जीवन समर्पित है अध्यात्म और आध्यात्मिक सेवा को।</p>
                <p class="collapse">उनकी तपस्या, शान्ति और ज्ञान से युक्त प्रवचनों से लोगों को प्रेरित करते हैं।
                  उनके द्वारा दिया गया धार्मिक ज्ञान और मार्गदर्शन लोगों की आत्मिक विकास में सहायता करता है।
                  स्वामी अनंतानंद एक प्रेरणा स्रोत हैं और उनके समर्पण और सेवा भाव से वे लोगों के दिलों में स्थान
                  बनाए रखते हैं।</p>
                <div class="text-center read-more">
                  <a class="btn bg-light" data-bs-toggle="collapse" href="#myElement3 .collapse">Read more</a>
                </div>
              </div>
            </div>
          </div> -->
    </div>
    <div class="card card-mm my-2 bd-highlight" style="width: 18rem;">
      <a href="https://ik.imagekit.io/kailash/residing-mukhya-sant/tr:w-600,h-400,pr-true/raghavanand-ji.jpeg">
        <img src="https://ik.imagekit.io/kailash/residing-mukhya-sant/tr:w-600,h-400,pr-true/raghavanand-ji.jpeg"
          class="card-img-top" alt="...">
      </a>
      <div class="text-center bg-warning p-1" style="font-weight: bold;">
        स्वामी राघवानंद गिरी जी महाराज
      </div>
      <!-- <div class="card-body">
            <div class="card-text">
              <div id="myElement4">
                <p>स्वामी अनंतानंद एक संन्यासी हैं जो कैलाश मठ काशी में निवास करते हैं।
                  उनका जीवन समर्पित है अध्यात्म और आध्यात्मिक सेवा को।</p>
                <p class="collapse">उनकी तपस्या, शान्ति और ज्ञान से युक्त प्रवचनों से लोगों को प्रेरित करते हैं।
                  उनके द्वारा दिया गया धार्मिक ज्ञान और मार्गदर्शन लोगों की आत्मिक विकास में सहायता करता है।
                  स्वामी अनंतानंद एक प्रेरणा स्रोत हैं और उनके समर्पण और सेवा भाव से वे लोगों के दिलों में स्थान
                  बनाए रखते हैं।</p>
                <div class="text-center read-more">
                  <a class="btn bg-light" data-bs-toggle="collapse" href="#myElement4 .collapse">Read more</a>
                </div>
              </div>
            </div>
          </div> -->
    </div>
    <div class="card card-mm my-2 bd-highlight" style="width: 18rem;">
      <a href="https://ik.imagekit.io/kailash/residing-mukhya-sant/tr:w-600,h-400,pr-true/swami-ajit-anand.jpeg">

        <img src="https://ik.imagekit.io/kailash/residing-mukhya-sant/tr:w-600,h-400,pr-true/swami-ajit-anand.jpeg"
          class="card-img-top" alt="...">
      </a>
      <div class="text-center bg-warning p-1" style="font-weight: bold;">
        स्वामी अजीतानंद गिरी जी महाराज
      </div>
      <!-- <div class="card-body">
            <div class="card-text">
              <div id="myElement5">
                <p>स्वामी अनंतानंद एक संन्यासी हैं जो कैलाश मठ काशी में निवास करते हैं।
                  उनका जीवन समर्पित है अध्यात्म और आध्यात्मिक सेवा को।</p>
                <p class="collapse">उनकी तपस्या, शान्ति और ज्ञान से युक्त प्रवचनों से लोगों को प्रेरित करते हैं।
                  उनके द्वारा दिया गया धार्मिक ज्ञान और मार्गदर्शन लोगों की आत्मिक विकास में सहायता करता है।
                  स्वामी अनंतानंद एक प्रेरणा स्रोत हैं और उनके समर्पण और सेवा भाव से वे लोगों के दिलों में स्थान
                  बनाए रखते हैं।</p>
                <div class="text-center read-more">
                  <a class="btn bg-light" data-bs-toggle="collapse" href="#myElement5 .collapse">Read more</a>
                </div>
              </div>
            </div>
          </div> -->
    </div>

  </div>
</div>

<div class="art poorv-mm-art my-4 rounded">
  <h2 class="text-center heading rounded-top">मठ के पूर्व महामंडलेश्वर</h2>
  <div class="vip-people d-flex container-fluid flex-wrap justify-content-around align-content-stretch">
    <div class="row row-cols-lg-3 row-cols-md-2">
      <app-mahamandaleswar-card *ngFor="let each of mahaMandaleswars" [receivedData]="each"
        class="col mm-card"></app-mahamandaleswar-card>
    </div>

  </div>
</div>

<div class="art four-types-group my-4">
  <div class="container p-1">
    <div class="item item-1 my-3" routerLink="/gaushala">
      <div class="card position-relative">
        <div class="card bg-dark text-white" style="max-width: 600px;">
          <img src="https://ik.imagekit.io/kailash/gaushala/gaushala-swami-1.jpg?updatedAt=1687170759351"
            class="card-img" alt="" />
          <div class="card-img-overlay d-flex align-items-center justify-content-center"
            style="background-color: rgba(0, 0, 0, 0.3)">
            <span class="overlay">
              <h5 class="card-title text-center">गौशाला</h5>
            </span>
          </div>
        </div>
        <div class="position-absolute top-0 start-50 translate-middle"
          style="width: 150px; height: 50px; border: 1px solid white; border-radius: 50%; background-color: rgb(103, 22, 0);">
          <p class="text-center"
            style="color: white; font-weight: bold; font-family: 'Arya'; line-height: 25px; font-size: large;">
            गौशाला</p>
          <!-- <img src="../../assets/icons/cow-icon.png" alt=""> -->
        </div>

      </div>
    </div>
    <div class="item item-2 my-3" routerLink="/gurukul">
      <div class="card position-relative">
        <div class="card bg-dark text-white" style="max-width: 600px;">
          <img src="https://ik.imagekit.io/kailash/gurukul/gurukul-group-1.jpg?updatedAt=1687104242698" class="card-img"
            alt="" />
          <div class="card-img-overlay d-flex align-items-center justify-content-center"
            style="background-color: rgba(0, 0, 0, 0.3)">
            <span class="overlay">
              <h5 class="card-title text-center">गुरुकुल</h5>
            </span>
          </div>
        </div>
        <div class="position-absolute top-0 start-50 translate-middle"
          style="width: 150px; height: 50px; border: 1px solid white; border-radius: 50%; background-color: rgb(103, 22, 0);">
          <p class="text-center"
            style="color: white; font-weight: bold; font-family: 'Arya'; line-height: 25px; font-size: large;">
            गुरुकुल</p>
        </div>
      </div>
    </div>
    <div class="item item-3 my-3" routerLink="/nirman-sangh">
      <div class="card position-relative">
        <div class="card bg-dark text-white" style="max-width: 600px;">
          <img src="https://www.author.thinkwithniche.com/allimages/project/thumb_f53c7india-our-nation-our-culture.jpg"
            class="card-img" alt="" />
          <div class="card-img-overlay d-flex align-items-center justify-content-center"
            style="background-color: rgba(0, 0, 0, 0.3)">
            <span class="overlay">
              <h5 class="card-title text-center">अभिनव राष्ट्र निर्माण संघ</h5>
            </span>
          </div>
        </div>
        <div class="position-absolute top-0 start-50 translate-middle"
          style="width: 150px; height: 50px; border: 1px solid white; border-radius: 50%; background-color: rgb(103, 22, 0);">
          <p class="text-center"
            style="color: white; font-weight: bold; font-family: 'Arya'; line-height: 25px; font-size: large;">
            संघ</p>
        </div>

      </div>
    </div>
    <div class="item item-4 my-3" routerLink="/media-coverage">
      <div class="card position-relative">
        <div class="card bg-dark text-white" style="max-width: 600px;">
          <img src="../../assets/imgs/swami-ashu/abhinav-rashtra.jpeg" class="card-img" alt="" />
          <div class="card-img-overlay d-flex align-items-center justify-content-center"
            style="background-color: rgba(0, 0, 0, 0.3)">
            <span class="overlay">
              <h5 class="card-title text-center">फ़ोटो गैलरी</h5>
            </span>
          </div>
        </div>
        <div class="position-absolute top-0 start-50 translate-middle"
          style="width: 150px; height: 50px; border: 1px solid white; border-radius: 50%; background-color: rgb(103, 22, 0);">
          <p class="text-center"
            style="color: white; font-weight: bold; font-family: 'Arya'; line-height: 25px; font-size: large;">
            गैलरी</p>
        </div>
      </div>
    </div>
  </div>
</div>