<div class="whole">
    <div class="left-column py-2">
        <div class="sanatan-sanskriti">
            <div class="card kailash-math-art border-0 mb-4">
                <div class="container1" id="top">
                    <div class="upper">

                        <div class="title text-center p-4 pb-2 fw-bold mt-0">
                            श्री श्री 1008 पूर्व महामण्डलेशवर स्वामी रामचंद्र गिरी जी महाराज
                            <br>
                            🌼🏵️🌼
                        </div>
                        <div class="d-flex justify-content-center my-3">
                            <div class="mb-0">
                                <img src="https://ik.imagekit.io/kailash/ramchandra-giri/rcgiriflower.png?updatedAt=1688459885471"
                                    width="400px" alt="" srcset="">
                            </div>
                        </div>
                        <div class="text-center fw-bold display-6">🌼🏵️🌼</div>
                        <div class="d-flex align-items-center justify-content-center rounded">
                            <figure>
                                <blockquote cite="" class="text-center">
                                    <p>गुर्वादि गुरू रनादि गुरुः परम् दैवतम्।<br> गुरोः परतरं नास्ति तस्मै श्री गुरुवे
                                        नमः ॥
                                    </p>
                                </blockquote>
                                <!-- <figcaption>—Aldous Huxley, <cite>Brave New World</cite></figcaption> -->
                            </figure>
                        </div>

                    </div>
                    <div class="content-1">
                        <div class="col">
                            <p>
                                श्रीमत् परमहंस परिव्राजकाचार्य श्रोत्रीय ब्रह्मनिष्ठ श्री श्री 1008 वरिष्ठ महामण्डलेश्वर
                                स्वामी रामचन्द्र गिरी जी महाराज गुजरात की राजधानी गाँधी नगर के निकट ग्राम विलोदरा में
                                जन्म लेकर भौतिक शिक्षा पूरी करके अहमदाबाद में गुजरात पुलिस में नियुक्त हुए जहाँ सर्विस
                                करते हुए, प्रतिदिन प्रातः नीलकण्ठ महादेव असारवा में श्री महन्त स्वामी लक्ष्मण गिरी जी
                                महाराज के सत्संग में जाया करते थे और उनसे प्रभावित होकर अपना सम्पूर्ण जीवन भगवान की
                                भक्ति एवं भक्तों की सेवा के लिए सन्यास लेकर साधना में लग गये परन्तु प्रबल वैराग्य और
                                पूर्ण रूप से भगवत शरणागति को चरितार्थ करने हेतु आप गुजरात छोड़कर मगध प्रान्त में भगवान
                                बुद्ध की बिहार स्थली एवं श्री गुरू गोविन्द सिहं की धरती पटना साहिब पहुँच गयें, और
                                मोक्षदायिनी गंगा के दक्षिण तट पर दृढ़ विश्वास के प्रतीक वट वृक्ष के नीचे आसन जमा दिये।
                                लगातार 12 वर्षों तक एक वक्त भिक्षा (माधुकरी) कर सतत् साधना करते रहें कोई आ जाए तो उसें
                                शुद्ध गीता का ज्ञान देते, अन्यथा मौन रहतें, धीरे धीरे आपकी ख्याति जगत में फैल गई, आपके
                                सानिध्य में कई (पागल) मानसिक रोगी भी स्वस्थ हो गये, बाद में आप काशी आ गए, और यहाँ
                                संन्यास आश्रम खरीदकर सन्त सेवा आरम्भ किये।
                                <br><br>
                                आपकी सन्त सेवा देखकर सनातन संस्थान कैलाश मठ के तत्कालिन श्री महन्त ने आप से प्रभावित
                                होकर आपको ही समर्पित कर दिया तब से आज तक आप काशी में रहकर जगत को ज्ञान प्रकाश प्रदान कर
                                रहें हैं

                                <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row last-imgs" id="bottom">
                    <img class="col-4" *ngFor="let url of imgUrls;" src="{{url}}" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="card">
            <app-right-aside></app-right-aside>
        </div>
    </div>
</div>
