<div class="">
    <div class="left-column">
      <div class="sanatan-sanskriti">
        <div class="card kailash-math-art border-0 mb-4">
          <div class="container1">
            <h1 class="heading">मठ संप्रदाय</h1>
            <div class="profile-images">
                <img src="https://kailashmath.org/assets/imgs/shankaracharya/1-1%20adi.jpg" alt="">
                <img src="https://kailashmath.org/assets/imgs/shankaracharya/1-1%20adi.jpg" alt="">
                <img src="https://kailashmath.org/assets/imgs/shankaracharya/1-1%20adi.jpg" alt="">
            </div>
            <div class="text-center">
              <h3 class="title">कैलाश मठ, काशी</h3>
              <!-- <div class="fakeimg" style="height:200px;">Image</div> -->
              <h6>स्थापना : Dec 7, 2017</h6>
            </div>
            <div class="content-1">
              <div class="col-md-8 ">
                <p>कैलाश मठ, जहां भगवान शिव की पूजा उनके शिवलिंगम में की जाती है, वाराणसी के भेलूपुर गांव में स्थित
                  है।
                  यह मंदिर वाराणसी के साथ-साथ भारत के अन्य हिस्सों में भी बेहद प्रसिद्ध है। यह मंदिर शहर के केंद्र में
                  स्थित है और विश्वेश्वर या विश्वनाथ के नाम से जाना जाता है, जो शिव के ज्योतिर्लिंग से जुड़ा हुआ है।
                  इस
                  पुराने मंदिर को इतिहास में कई बार नष्ट किया गया और फिर से निर्माण किया गया है। </p>
              </div>
              <div class="col-md-4">
                <img
                  src="https://ik.imagekit.io/kailash/telegram/monks/tr:otf-Arya-Regular.ttf,ot-%20स्वामी%20आशुतोषानंद,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040,pr-true/monks.jpeg"
                  alt="First image">
              </div>
            </div>
            <div class="content-2">
              <div class="col-md-4">
                <img
                  src="https://ik.imagekit.io/kailash/telegram/monks/tr:pr-true,otf-Arya-Regular.ttf,ot-%20जय%20श्री%20राम,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040/monks.jpeg"
                  alt="Second image">
              </div>
              <div class="col-md-8">
                <p>श्रावण मास और महाशिवरात्रि के अवसर पर यहां के पवित्र मंदिर में धूमधाम से त्योहार मनाए जाते हैं।
                  भारत
                  और विदेशों से लोग यहां आते हैं और भगवान शिव की पूजा, पवित्र कुएं से पानी लेना और दर्शन करने का आनंद
                  लेते हैं। देव दिवाली और प्रोडोश व्रत भी यहां मनाए जाते हैं। मेले और उपवास के साथ शिवरात्रि भी यहां
                  विशेष रूप से मनायी जाती है। कैलाश मठ आध्यात्मिक और पर्यटन स्थल के रूप में चर्चित है, जहां
                  श्रद्धालुओं
                  को भगवान शिव की पूजा, धार्मिक आयोजनों में भाग लेने का मौका मिलता है। इसकी सुंदरता, धार्मिक महत्व और
                  पवित्रता ने इसे देशभर में प्रसिद्ध किया है। कैलाश मठ यात्रा भारतीय संस्कृति, आध्यात्मिकता और शिव
                  भक्ति
                  के लिए महत्वपूर्ण स्थल है।</p>
              </div>
            </div>
          </div>
          <div class="container1">
            <!-- <h1 class="heading">कैलाश मठ गौशाला</h1> -->


            <h2 class="sub-heading">आइये गुरुकुल परंपरा की ओर</h2>

            <div class="content-1">
              <div class="col-md-8 ">
                <p>कैलाश मठ, जहां भगवान शिव की पूजा उनके शिवलिंगम में की जाती है, वाराणसी के भेलूपुर गांव में स्थित
                  है।
                  यह मंदिर वाराणसी के साथ-साथ भारत के अन्य हिस्सों में भी बेहद प्रसिद्ध है। यह मंदिर शहर के केंद्र में
                  स्थित है और विश्वेश्वर या विश्वनाथ के नाम से जाना जाता है, जो शिव के ज्योतिर्लिंग से जुड़ा हुआ है।
                  इस
                  पुराने मंदिर को इतिहास में कई बार नष्ट किया गया और फिर से निर्माण किया गया है। </p>
              </div>
              <div class="col-md-4">
                <img
                  src="https://ik.imagekit.io/kailash/telegram/monks/tr:otf-Arya-Regular.ttf,ot-%20स्वामी%20आशुतोषानंद,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040,pr-true/monks.jpeg"
                  alt="First image">
              </div>
            </div>
            <div class="content-2">
              <div class="col-md-4">
                <img
                  src="https://ik.imagekit.io/kailash/telegram/monks/tr:pr-true,otf-Arya-Regular.ttf,ot-%20जय%20श्री%20राम,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040/monks.jpeg"
                  alt="Second image">
              </div>
              <div class="col-md-8">
                <p>श्रावण मास और महाशिवरात्रि के अवसर पर यहां के पवित्र मंदिर में धूमधाम से त्योहार मनाए जाते हैं।
                  भारत
                  और विदेशों से लोग यहां आते हैं और भगवान शिव की पूजा, पवित्र कुएं से पानी लेना और दर्शन करने का आनंद
                  लेते हैं। देव दिवाली और प्रोडोश व्रत भी यहां मनाए जाते हैं। मेले और उपवास के साथ शिवरात्रि भी यहां
                  विशेष रूप से मनायी जाती है। कैलाश मठ आध्यात्मिक और पर्यटन स्थल के रूप में चर्चित है, जहां
                  श्रद्धालुओं
                  को भगवान शिव की पूजा, धार्मिक आयोजनों में भाग लेने का मौका मिलता है। इसकी सुंदरता, धार्मिक महत्व और
                  पवित्रता ने इसे देशभर में प्रसिद्ध किया है। कैलाश मठ यात्रा भारतीय संस्कृति, आध्यात्मिकता और शिव
                  भक्ति
                  के लिए महत्वपूर्ण स्थल है।</p>
              </div>
            </div>
          </div>

          <div class="container1">
            <div>
              <h2 class="sub-heading">गोवंश की सेवा एवं गौशाला प्रबंधन</h2>
              <div class="content-1">
                <div class="col-md-8 ">
                  <p>कैलाश मठ, जहां भगवान शिव की पूजा उनके शिवलिंगम में की जाती है, वाराणसी के भेलूपुर गांव में स्थित
                    है।
                    यह मंदिर वाराणसी के साथ-साथ भारत के अन्य हिस्सों में भी बेहद प्रसिद्ध है। यह मंदिर शहर के केंद्र
                    में
                    स्थित है और विश्वेश्वर या विश्वनाथ के नाम से जाना जाता है, जो शिव के ज्योतिर्लिंग से जुड़ा हुआ है।
                    इस
                    पुराने मंदिर को इतिहास में कई बार नष्ट किया गया और फिर से निर्माण किया गया है। </p>
                </div>
                <div class="col-md-4">
                  <img
                    src="https://ik.imagekit.io/kailash/telegram/monks/tr:otf-Arya-Regular.ttf,ot-%20स्वामी%20आशुतोषानंद,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040,pr-true/monks.jpeg"
                    alt="First image">
                </div>
              </div>
              <div class="content-2">
                <div class="col-md-4">
                  <img
                    src="https://ik.imagekit.io/kailash/telegram/monks/tr:pr-true,otf-Arya-Regular.ttf,ot-%20जय%20श्री%20राम,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040/monks.jpeg"
                    alt="Second image">
                </div>
                <div class="col-md-8">
                  <p>श्रावण मास और महाशिवरात्रि के अवसर पर यहां के पवित्र मंदिर में धूमधाम से त्योहार मनाए जाते हैं।
                    भारत
                    और विदेशों से लोग यहां आते हैं और भगवान शिव की पूजा, पवित्र कुएं से पानी लेना और दर्शन करने का
                    आनंद
                    लेते हैं। देव दिवाली और प्रोडोश व्रत भी यहां मनाए जाते हैं। मेले और उपवास के साथ शिवरात्रि भी यहां
                    विशेष रूप से मनायी जाती है। कैलाश मठ आध्यात्मिक और पर्यटन स्थल के रूप में चर्चित है, जहां
                    श्रद्धालुओं
                    को भगवान शिव की पूजा, धार्मिक आयोजनों में भाग लेने का मौका मिलता है। इसकी सुंदरता, धार्मिक महत्व
                    और
                    पवित्रता ने इसे देशभर में प्रसिद्ध किया है। कैलाश मठ यात्रा भारतीय संस्कृति, आध्यात्मिकता और शिव
                    भक्ति
                    के लिए महत्वपूर्ण स्थल है।</p>
                </div>
              </div>
            </div>
            <div>
              <h2 class="sub-heading">हमारी दूसरी शाखा में गौ सेवा</h2>
              <div class="content-1">
                <div class="col-md-8 ">
                  <p>कैलाश मठ, जहां भगवान शिव की पूजा उनके शिवलिंगम में की जाती है, वाराणसी के भेलूपुर गांव में स्थित
                    है।
                    यह मंदिर वाराणसी के साथ-साथ भारत के अन्य हिस्सों में भी बेहद प्रसिद्ध है। यह मंदिर शहर के केंद्र
                    में
                    स्थित है और विश्वेश्वर या विश्वनाथ के नाम से जाना जाता है, जो शिव के ज्योतिर्लिंग से जुड़ा हुआ है।
                    इस
                    पुराने मंदिर को इतिहास में कई बार नष्ट किया गया और फिर से निर्माण किया गया है। </p>
                </div>
                <div class="col-md-4">
                  <img
                    src="https://ik.imagekit.io/kailash/telegram/monks/tr:otf-Arya-Regular.ttf,ot-%20स्वामी%20आशुतोषानंद,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040,pr-true/monks.jpeg"
                    alt="First image">
                </div>
              </div>
              <div class="content-2">
                <div class="col-md-4">
                  <img
                    src="https://ik.imagekit.io/kailash/telegram/monks/tr:pr-true,otf-Arya-Regular.ttf,ot-%20जय%20श्री%20राम,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040/monks.jpeg"
                    alt="Second image">
                </div>
                <div class="col-md-8">
                  <p>श्रावण मास और महाशिवरात्रि के अवसर पर यहां के पवित्र मंदिर में धूमधाम से त्योहार मनाए जाते हैं।
                    भारत
                    और विदेशों से लोग यहां आते हैं और भगवान शिव की पूजा, पवित्र कुएं से पानी लेना और दर्शन करने का
                    आनंद
                    लेते हैं। देव दिवाली और प्रोडोश व्रत भी यहां मनाए जाते हैं। मेले और उपवास के साथ शिवरात्रि भी यहां
                    विशेष रूप से मनायी जाती है। कैलाश मठ आध्यात्मिक और पर्यटन स्थल के रूप में चर्चित है, जहां
                    श्रद्धालुओं
                    को भगवान शिव की पूजा, धार्मिक आयोजनों में भाग लेने का मौका मिलता है। इसकी सुंदरता, धार्मिक महत्व
                    और
                    पवित्रता ने इसे देशभर में प्रसिद्ध किया है। कैलाश मठ यात्रा भारतीय संस्कृति, आध्यात्मिकता और शिव
                    भक्ति
                    के लिए महत्वपूर्ण स्थल है।</p>
                </div>
              </div>
            </div>

            <div>
              <h2 class="sub-heading">चिकित्सा संबंध सेवा</h2>
              <div class="content-1">
                <div class="col-md-8 ">
                  <p>कैलाश मठ, जहां भगवान शिव की पूजा उनके शिवलिंगम में की जाती है, वाराणसी के भेलूपुर गांव में स्थित
                    है।
                    यह मंदिर वाराणसी के साथ-साथ भारत के अन्य हिस्सों में भी बेहद प्रसिद्ध है। यह मंदिर शहर के केंद्र
                    में
                    स्थित है और विश्वेश्वर या विश्वनाथ के नाम से जाना जाता है, जो शिव के ज्योतिर्लिंग से जुड़ा हुआ है।
                    इस
                    पुराने मंदिर को इतिहास में कई बार नष्ट किया गया और फिर से निर्माण किया गया है। </p>
                </div>
                <div class="col-md-4">
                  <img
                    src="https://ik.imagekit.io/kailash/telegram/monks/tr:otf-Arya-Regular.ttf,ot-%20स्वामी%20आशुतोषानंद,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040,pr-true/monks.jpeg"
                    alt="First image">
                </div>
              </div>
              <div class="content-2">
                <div class="col-md-4">
                  <img
                    src="https://ik.imagekit.io/kailash/telegram/monks/tr:pr-true,otf-Arya-Regular.ttf,ot-%20जय%20श्री%20राम,ofo-bottom_left,ots-200,otc-ffffff,otbg-ff000040/monks.jpeg"
                    alt="Second image">
                </div>
                <div class="col-md-8">
                  <p>श्रावण मास और महाशिवरात्रि के अवसर पर यहां के पवित्र मंदिर में धूमधाम से त्योहार मनाए जाते हैं।
                    भारत
                    और विदेशों से लोग यहां आते हैं और भगवान शिव की पूजा, पवित्र कुएं से पानी लेना और दर्शन करने का
                    आनंद
                    लेते हैं। देव दिवाली और प्रोडोश व्रत भी यहां मनाए जाते हैं। मेले और उपवास के साथ शिवरात्रि भी यहां
                    विशेष रूप से मनायी जाती है। कैलाश मठ आध्यात्मिक और पर्यटन स्थल के रूप में चर्चित है, जहां
                    श्रद्धालुओं
                    को भगवान शिव की पूजा, धार्मिक आयोजनों में भाग लेने का मौका मिलता है। इसकी सुंदरता, धार्मिक महत्व
                    और
                    पवित्रता ने इसे देशभर में प्रसिद्ध किया है। कैलाश मठ यात्रा भारतीय संस्कृति, आध्यात्मिकता और शिव
                    भक्ति
                    के लिए महत्वपूर्ण स्थल है।</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="right-column">
      <div class="card">
        <app-right-aside></app-right-aside>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg"><img
            src="https://lh5.googleusercontent.com/p/AF1QipPVFk_GX-3fSQIgcl75B-qGlWjAesqa2FKxjO-f=w500-h240-k-no"
            alt="" srcset=""></div><br>
        <div class="fakeimg"><img
            src="https://rgyan-flutter200503-dev.s3.ap-south-1.amazonaws.com/public/pg-content/uploads/2018-03/kailash-muttt.jpg"
            alt="" srcset=""></div><br>
        <div class="fakeimg">Image</div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>

<!-- 

<div class="whole">

    <h3 style="text-align: center;" class="p-5">मठ संप्रदाय</h3>
    <div class="profile-images">
        <img src="../../assets/imgs/shankaracharya/Raja_Ravi_Varma_-_Sankaracharya.jpg" alt="Image 1" />
        <img src="../../assets/imgs/shankaracharya/1-1 adi.jpg" alt="Image 2" />
        <img src="../../assets/imgs/shankaracharya/the_adi.jpg" alt="Image 3" />
    </div>
    <div class="container">
        <div class="profile-bio">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 ">

                    <h3 style="padding-top: 20px;">मठ परंपरा का परिचय</h3>
                    <p>
                        मठ परंपरा, भारतीय संस्कृति और आध्यात्मिकता का महत्वपूर्ण हिस्सा मानी जाती है, जो वैदिक काल से
                        मौजूद है। यह एक संगठित सामाजिक और आध्यात्मिक परंपरा है जो विशेष धार्मिक और सामाजिक कार्यक्रमों
                        को आयोजित करती है और ज्ञान और आध्यात्मिक शिक्षा का केंद्र के रूप में कार्य करती है। मठ परंपरा के
                        नेताओं और संन्यासी आचार्यों द्वारा विभिन्न ग्रंथों का अध्ययन करके और धार्मिक और आध्यात्मिक
                        संस्कृति को प्रचारित करके महत्वपूर्ण योगदान किया जाता है।
                    </p>
                    <br>


                    <h3>मठ परंपरा की शाखाएँ</h3>
                    <p>
                        मठ परंपरा की कई शाखाएँ हैं जैसे अद्वैत, विशिष्टाद्वैत, द्वैत, श्री वैष्णव, शैव, शाक्त, गणपत्य
                        आदि। प्रत्येक शाखा अपने विशेष सिद्धांत और रीति-रिवाज़ को स्थानापन करती है, जिसमें विभिन्न
                        परंपराओं और आचार्यों की मान्यता होती है। शिक्षा, ज्ञान, तपस्या, ध्यान और सेवा मठों में बहुत
                        महत्व रखते हैं। मठों के अंदर पारंपरिक विद्यालय, वैदिक अध्ययन केंद्र और आध्यात्मिक अनुसंधान
                        संस्थान स्थापित किए जाते हैं, जो छात्रों को धार्मिक और आध्यात्मिक शिक्षा प्रदान करते हैं।
                    </p>
                    <br>

                    <h3>मठ परंपरा की रीति और आचरण</h3>
                    <p>
                        मठ परंपरा अपने विशिष्ट अवलोकन, रस्म, और सभ्यता के लिए प्रसिद्ध है। यह मठ द्वारा कठिन
                        संकल्पों, संगठन, और सेवा की पूर्ति को महत्वपूर्ण धार्मिक कर्तव्य के रूप में मान्यता देता है।
                        मठों में पूजा, रस्म, और सत्संग (आध्यात्मिक सभा) आयोजित किए जाते हैं, जिनके माध्यम से भक्तों को
                        आध्यात्मिक शिक्षा और सत्संग का अनुभव करने का अवसर मिलता है।
                    </p>
                    <br>

                    <h3>मठ परंपरा के सामाजिक और सांस्कृतिक कार्यक्रम</h3>
                    <p>
                        मठ परंपरा ने सम्मेलन, विशेष उपवास, त्योहार, और सेमिनार जैसे विभिन्न धार्मिक और सामाजिक
                        कार्यक्रमों का आयोजन किया है। इन कार्यक्रमों में छात्र, गुरु, शिष्य और सामाजिक क्रांतिकारी
                        सक्रिय भाग लेते हैं, जिसका उद्देश्य संगठन और समाज में एकता और समरसता स्थापित करना होता है। मठ
                        परंपराओं को धार्मिक अभ्यासों के साथ-साथ विभिन्न सामाजिक मामलों में सलाहकारी भूमिका भी निभानी
                        पड़ती हैं।</p><br>

                    <h3>मठ परंपरा द्वारा आध्यात्मिक ज्ञान का प्रसार</h3>
                    <p>
                        मठ परंपरा आध्यात्मिक ज्ञान के प्रसार और प्रचार में विशेष महत्व रखती है। मठों में
                        वाद-विवाद और व्याख्यानों का आयोजन किया जाता है, जहां शिक्षा प्रदान की जाती है और आध्यात्मिक
                        ग्रंथों से महत्वपूर्ण विषयों पर चर्चा होती है। इन आयोजनों के माध्यम से मठ परंपराओं ने सदस्यों को
                        आध्यात्मिकता, समरसता, अनुशासन और अहिंसा की समझ प्रदान की है।
                    </p>
                    <br>

                    <h3>मठ परंपरा का समाज पर प्रभाव</h3>
                    <p>
                        अनुच्छेद: धार्मिक महत्व के अलावा, मठ परंपराओं का समाज पर गहरा प्रभाव होता है। वे स्वच्छता,
                        शिक्षा, गरीबी का उन्मूलन, मानवाधिकार, न्याय, स्वतंत्रता, सामाजिक समरसता और सामाजिक सुधार को
                        प्रोत्साहित करते हैं। मठ परंपराओं का सक्रिय योगदान होता है समाज में संघटनाओं का आयोजन करने,
                        सहायता प्रदान करने और सामाजिक सेवा में योगदान करने में, जो समाज को आदर्श जीवन जीने के लिए
                        प्रेरित करता है।
                    </p>
                    <br>

                    <h3>मठ परंपरा का महत्व</h3>
                    <p>
                        अनुच्छेद: समाप्ति में, मठ परंपराएं भारतीय संस्कृति और आध्यात्मिकता के महत्वपूर्ण घटक हैं। ये
                        परंपराएं विभिन्न आचार्यों, ग्रंथों, विचारधाराओं और आध्यात्मिक सिद्धांतों के माध्यम से विशाल
                        ज्ञान, समरसता, शांति और आध्यात्मिकता को प्रमोट करती हैं। शिक्षा, आध्यात्मिक अनुसंधान, सामाजिक
                        सेवा और सामाजिक विकास मठ परंपराओं के मुख्य उद्देश्य रहते हैं। इन्होंने हमेशा सोच, ज्ञान, अच्छे
                        इच्छा, एकता और आदर्शों का सम्मान किया है और भारतीय संस्कृति को मजबूत करने में महत्वपूर्ण योगदान
                        किया है।
                    </p>
                    <br>
                </div>
                <div class="col-2 "></div>
            </div>
        </div>
    </div>
    </div>
</div> -->