<meta http-equiv="Accept-CH" content="DPR, Width">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sahitya&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div class="whole">
  <div class="d-flex flex-column justify-content-between mb-3">
    <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <a routerLink="/swami-ashu">
            <img src="https://ik.imagekit.io/kailash/mathh/math-banner-1.jpg?updatedAt=1688471473197" class="d-block w-100" alt="...">
          </a>
          <!-- <a href="">
            <div class="carousel-caption">
              <p class="caption-text">अधिक जाने</p>
            </div>
          </a> -->
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <a routerLink="/swami-ashu">
            <img src="../../assets/imgs/banners/My project-1.png" class="d-block w-100" alt="...">
          </a>
          <!-- <a href="">
            <div class="carousel-caption">
              <p class="caption-text">अधिक जाने</p>
            </div>
          </a> -->
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <a routerLink="/ramchandra-giri">
            <img src="../../assets/imgs/banners/guru-shlok-swamiji-ramchandra.jpg" class="d-block w-100" alt="...">
          </a>
          <!-- <a href="">
            <div class="carousel-caption ">
              <p class="caption-text">अधिक जाने</p>
            </div>
          </a> -->
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="">
      <div class="left-column">
        <a routerLink="/aarti-stuti" href="#stuti">
          <div class="box1 sticky-top d-flex justify-content-center">
            <table>
              <tbody>
                <tr>
                  <td class="align-middle">शिव स्तुति</td>
                </tr>
              </tbody>
            </table>
          </div>
        </a>
        <a routerLink="/aarti-stuti" href="#aarti">
          <div class="box2 sticky-top d-flex justify-content-center">
            <table>
              <tbody>
                <tr>
                  <td class="align-middle">शिव आरती</td>
                </tr>
              </tbody>
            </table>
          </div>
        </a>
        <app-left-column></app-left-column>
      </div>
      <div class="right-column">
        <div class="card">
          <app-right-aside></app-right-aside>
        </div>
        <div class="card rounded fa-border">
          <h3 class="py-1 px-3 m-0 rounded" style=" background-color: #ca0000; color: white;">Popular Post</h3>
          <div class="twitter-responsive">
            <iframe frameborder=0 width="550" height="620px"
              src="https://twitframe.com/show?url=https%3A%2F%2Ftwitter.com%2Fmyogiadityanath%2Fstatus%2F1667843547209555970"></iframe>
          </div>
          <div class="facebook-responsive">
            <iframe
              src="https://www.facebook.com/plugins/video.php?height=295&href=https%3A%2F%2Fwww.facebook.com%2FSwamiAshutoshanand%2Fvideos%2F285135730612123%2F&show_text=false&width=560&t=0"
              width="560" height="297" style="border-radius: 20px; overflow:hidden" scrolling="no" frameborder="0"
              allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
              allowFullScreen="true" class="p-1">
            </iframe>
          </div>
          <div class="twitter-responsive">
            <iframe frameborder=0 height="620px" width="550px"
              src="https://twitframe.com/show?url=https%3A%2F%2Ftwitter.com%2Fmyogiadityanath%2Fstatus%2F1667838208116424704"></iframe>
          </div>
          <div class="facebook-responsive twitter-responsive" style="height: 750px;">
            <a href="https://www.facebook.com/SwamiAshutoshanand/posts/pfbid02sGekkFPyJwYKiEDcNziBE95M2psGJ3Swf5oNxsU9V7tRx7SMW8tQj7toUeDVcYPMl">

              <iframe
              src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSwamiAshutoshanand%2Fposts%2Fpfbid0oRD3ZaU9TZRFhqdPQ9YURrhhNZujDk4KtkayVPM7MZ6P7UfbWBUjLpE3fCxmpSiUl&width=500&show_text=false&height=882&appId"
              height="750px" width="500px" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
              allowfullscreen="true"
              allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </a>
            </div>
          <br>
          <div class="fakeimg m-0"><img
              src="https://rgyan-flutter200503-dev.s3.ap-south-1.amazonaws.com/public/pg-content/uploads/2018-03/kailash-muttt.jpg"
              alt="" srcset=""></div><br>
        </div>
        <div class="card socials-card">
          <h4 class="py-1 px-3" style="background-color: #ca0000; color: white;">महामण्डलेश्वर स्वामी आशुतोषानंद जी
            महाराज</h4>
          <div class="container text-center">
            <div class="col">
              <div class="row thumb">
                <a routerLink="/swamiji-media">
                  <img src="https://ik.imagekit.io/kailash/yogiji-swamiji/tr:pr-true,q-1/5.jpeg?updatedAt=1688314326202"
                    class="img-fluid" alt="...">
                  <div class="centered-bottom px-1 py-1">मुख्यमंत्री योगी आदित्यनाथ जी एवं महामण्डलेश्वर स्वामी
                    आशुतोषानंद जी महाराज </div>
                </a>
              </div>
              <div class="row thumb">
                <a routerLink="/swamiji-media">
                  <img src="https://ik.imagekit.io/kailash/yogiji-swamiji/16.jpeg?updatedAt=1688314270154"
                    class="img-fluid" alt="...">
                  <div class="centered-bottom px-1 py-1">मुख्यमंत्री योगी आदित्यनाथ जी एवं महामण्डलेश्वर स्वामी
                    आशुतोषानंद जी महाराज </div>

                </a>
              </div>
              <div class="row thumb">
                <a routerLink="/swamiji-media">
                  <img src="https://ik.imagekit.io/kailash/yogiji-swamiji/11.jpeg?updatedAt=1688314486154"
                    class="img-fluid" alt="...">
                  <div class="centered-bottom px-1 py-1">संवाददाताओं से बात करते महामण्डलेश्वर स्वामी आशुतोषानंद जी
                    महाराज</div>

                </a>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-around py-2">
            <!-- Facebook -->
            <a href="https://www.facebook.com/SwamiAshutoshanand" target="_blank">
              <i class="fa fa-facebook-official fa-3x" style="color: #3b5998;"></i>
            </a>
            <!-- Youtube -->
            <a href="https://www.youtube.com/@SwamiAshutoshanand" target="_blank">
              <i class="fa fa-youtube-play fa-3x fa-flip" style="color: #ed302f;"></i>
            </a>
            <!-- Twitter -->
            <a href="">
              <i class="fa fa-twitter-square fa-3x" style="color: #55acee;"></i>
            </a>
            <!-- Instagram -->
            <a href="https://www.instagram.com/swamiashutoshanandji/" target="_blank">
              <i class="fa fa-instagram fa-3x" style="color: #ac2bac;"></i>
            </a>
            <!-- Linkedin -->
            <a href="https://www.linkedin.com/in/swami-ashutoshanand-5b9945281/">
              <i class="fa fa-linkedin-square fa-3x" style="color: #0082ca;"></i>
            </a>
          </div>
        </div>
        <div class="card socials-card">
          <h4 class="py-1 px-3" style="background-color: #ffc982; color: brown;">स्थान</h4>
          <div class="d-flex justify-content-around py-2">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d225.43974349581302!2d82.98714012514301!3d25.302998019974343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e32072305ba2d%3A0x346c4418be2e58ea!2sKailash%20Math!5e0!3m2!1sen!2sin!4v1688304780867!5m2!1sen!2sin"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>



  <app-footer></app-footer>
</div>