#Layer_1{
  position: fixed;
  top: 0;
}

.carouselExampleIndicators{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  // background: #0057e3;
}


.overlay {
  z-index: 9;
  // margin: 30px;
  background: #009938;
}

.breaking-news {
  position: relative;
  background-color: rgb(255, 245, 230);
  color: rgb(93, 12, 0);
  top: 0;
  left: 0;
  overflow: hidden; /* Hides the overflowing text */
  white-space: nowrap; /* Prevents the text from wrapping */
}

.breaking-news p {
  display: inline-block;
  font-size: large;
  // padding-top: 10px; /* Enables horizontal scrolling */
  margin-right: 100%; /* Initial position outside the container */
  animation: marquee 40s linear infinite; /* Animation properties */
}

.breaking-news a{
  text-decoration:none;
  color: rgb(93, 12, 0);
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

@keyframes marquee {
  0% { margin-left: 100%; } /* Starts from the right */
  100% { margin-left: -100%; } /* Scrolls to the left */
}

@keyframes neon {
  0% {
    color: #15ff00; /* Initial color */
    text-shadow: 1px 1px 5px #ffffff;
  }
  50% {
    color: #5f72ff; /* Middle color */
    text-shadow: 1px 1px 5px #ffffff;
  }
  
  70% {
    color: #5f72ff; /* Middle color */
    text-shadow: 1px 1px 5px #ffffff;
  }

  100% {
    color: #15ff00; /* Final color */
    text-shadow: 1px 1px 5px #ffffff;
  }
}

.neon-text {
  animation: neon 2s linear infinite;
}


* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.carousel img {
  object-fit: contain;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: transparent;
}

.carousel-indicators {
  background-color: transparent;
  padding-bottom: 25px;
}

.caption-text {
  background-color: black;
  color: yellow;
  text-shadow: 0 0 1em rgb(255, 255, 255);
  border: 1px solid yellow;
  display: inline;
  border-radius: 10px;
  padding: 8px;
}

.caption-text:hover {
  padding: 5;
  background-color: black;
  font-weight: bold;
  color: white;
  border: 5px double rgb(255, 26, 26);
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.left-column {   
  float: left;
  width: 70%;
}

.left-column div div{
  margin: 0;
  padding: 0;
  // background-color: wheat;
}

.container-loop {
  overflow: hidden;
  display: flex;
  // height: 200px;
  width: 100%;
  margin: 0 auto;
}

.container-loop .card{
  // height: 30%;
}



.container-loop>div {
  max-height: 160px;
  min-width: 200px;
  margin-left: 12px;
  animation: slide 10s linear infinite;
}

.container-loop img{
  height: 60%;
  object-fit: cover;
}


@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0); /* The image width */
  }
}

.art p{
  font-family: 'Sahitya';
}

.heading{
  // width: fit-content;
  text-align: center;
  background-color: brown;
  padding: 10px 30px;
  color: aliceblue;
  font-family: 'Kalam', cursive;
}

.art .sub-heading{
  width: fit-content;
  font-family: 'Sahitya', cursive;
  background-color: indianred;
  padding: 10px 30px;
  color: aliceblue;
  border-top-right-radius: 20px;
}

.art .title{
  font-family: 'Sahitya';
  font-weight: bold;
}


.left-column .card-mm{
  background-color: rgb(255, 245, 230);
}

.vip-people .card{
  // background-color: white;
  border: 0;
}

.vip-people .card img{
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.vip-people .card-body{
  background-image: linear-gradient(rgb(255, 201, 5),rgba(255, 184, 184, 0.283));
  // border-bottom-left-radius: 30px;
}


/* Right column */
.right-column {
  float: left;
  width: 30%;
  // padding-left: 20px;
}

.right-column .card{
  margin-top: 10px;
  margin-left: 10px;
}


/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.fakeimg img{
  width: 100%;
}

.card-avatar.avatar-border.mt-n5,
.card-avatar.mr-44 {
    background-image: url(../../assets/imgs/swami-ashu/abhinav-rashtra.jpeg);
    background-size: 130%;
    background-position: 20% 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .left-column, .right-column {   
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  .left-column .container-fluid img {
    width: 100%;
    height: 30%;
    object-fit: cover;
  }
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  -webkit-box-orient: vertical;
}

.footer-light {
  padding: 50px 0;
  background-color: #ffe065;
}

.footer-light h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-light ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-light ul a {
  text-decoration: none;
  opacity: 0.6;
}

.footer-light ul a:hover {
  opacity: 0.8;
}

.footer-light .item.text {
  margin-bottom: 36px;
}


.footer-light .item.text iframe {
  width: 500px;
  height: 200px;
  border: 1px solid blue;
  border-radius: 8px;
  margin-bottom: 0;
}

.footer-light .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-light .item.social {
    text-align: center;
    margin-top: 20px;
  }
}


.footer-light .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  // color:#fff;
  opacity: 1;
}

.footer-light .item.social>a:hover {
  opacity: 0.9;
}

.footer-light .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.8;
  font-size: 13px;
  margin-bottom: 0;
}

.footer p {
  color: aliceblue;
}

.footer {
  color: white;
}

.socials:hover {
  opacity: 0.8;
}

.footer .navitems a {
  padding: 20px;
  color: wheat;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 8px 0;
// }

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}




/* Responsive Styles */
@media screen and (max-width: 767px) {}

@media screen and (max-width: 775px) {
  aside {
    display: none;
    visibility: hidden;
  }
}

.grid-container {
  // margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  // padding: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.show {
  display: block;
}


.text-left{
  float: left;
}
/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  // height: 100%;
  float: right;
}

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    
/* Common styles for paragraphs and images */
p {
  margin: 0;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  
}

.container1 p{
  font-size: 1.2rem;
  text-align: justify;
}

.container1 img{
  border-radius: 18px;
  padding: 10px;
}

/* Styles for laptop screens */
@media (min-width: 768px) {
  .container1 {
    display: block;
    flex-wrap: nowrap;
  }

  .content-1{
    display: flex;
  }

  .content-2{
    display: flex;
  }
  
  // .container1 > div {
  //   // flex-basis: 50%;
  // }
  
  // .container > div:nth-child(odd) {
  //   // order: 1;
  // }
  
  // .container1 > div:nth-child(even) {
  //   // order: 2;
  // }

  .container1 p{
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
  }
}

/* Styles for phone screens or smaller */
@media (max-width: 768px) {
  .container1 {
    // display: flex;
    // flex-direction: column;
  }
  .container1 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .content-1{
    display: flex;
    flex-direction:column;
    font-size: 1.2rem;
  }
  .content-2{
    display: flex;
    flex-direction: column-reverse;
  }

}

.read-more a{
  margin-bottom: 12px;
}


.art{
  background-color: wheat;
}