
<div class="whole">

  <div class="d-flex flex-column justify-content-between mb-3">
    <div class="d-flex  h-50 d-inline-block">
      <!-- <app-left-aside class="col-md-3"></app-left-aside> -->
      <div class="border col-md-8 h-50 d-inline-block main">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
              <img src=".././assets/imgs/banners/temple-swami.jpg" class="d-block w-100" alt="...">
              <a href="">
                <div class="carousel-caption">
                  <h5 class="caption-text">अधिक जाने</h5>
                </div>
              </a>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src=".././assets/imgs/banners/temple-swami.jpg" class="d-block w-100" alt="...">
              <a href="">
                <div class="carousel-caption ">
                  <h5 class="caption-text">अधिक जाने</h5>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <img src=".././assets/imgs/banners/temple-swami.jpg" class="d-block w-100" alt="...">
              <a href="">
                <div class="carousel-caption">
                  <h5 class="caption-text">अधिक जाने</h5>
                </div>
              </a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
      <app-right-aside class="col-md-4"></app-right-aside>
    </div>

    <svg class="background-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 600">
      <path fill="#ffff90" d="M0,165.5c0,0,83.3-105.5,208.3-101.9c125,3.6,198.6,103.4,320,118.3c121.4,14.9,112-85.3,203.8-69.6c91.8,15.7,101.8,116.9,221.1,143.4c119.3,26.5,100.2-87.2,211.8-68.9c111.6,18.4,95.9,116.9,231.9,163c136,46.1,122.8-129.9,234.9-84.4c112.1,45.4,125.7,142.9,125.7,142.9V0H0V165.5z"/>
    </svg>


    
    <div class="grid-container">
      <div class="grid-item">
        
        <img src="../../assets/imgs/swami-ashu/abhinav-rashtra.jpeg" alt="Image 1">
        <h2>Title 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
       
      </div>
      <div class="grid-item">
        <img src="../../assets/imgs/swami-ashu/abhinav-rashtra.jpeg" alt="Image 2">
        <h2>Title 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="grid-item">
        <img src="../../assets/imgs/swami-ashu/abhinav-rashtra.jpeg" alt="Image 3">
        <h2>Title 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="grid-item">
        <img src="../../assets/imgs/swami-ashu/abhinav-rashtra.jpeg" alt="Image 4">
        <h2>Title 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="grid-item">
        <img src="../../assets/imgs/swami-ashu/abhinav-rashtra.jpeg" alt="Image 5">
        <h2>Title 5</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="grid-item">
        <img src="../../assets/imgs/swami-ashu/abhinav-rashtra.jpeg" alt="Image 6">
        <h2>Title 6</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="grid-item">
        <img src="../../assets/imgs/swami-ashu/abhinav-rashtra.jpeg" alt="Image 5">
        <h2>Title 5</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="grid-item">
        <img src="../../assets/imgs/swami-ashu/abhinav-rashtra.jpeg" alt="Image 6">
        <h2>Title 6</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

  </div>
  
  
  
  <div class="border footer bg-dark">
    <div class="d-flex justify-content-center p-4">
      <div class="p-2 socials bd-highlight">
        <a href="">
          <img src=".././assets/icons/Facebook_f_logo_(2021).svg" height="30px" width="30px" alt="" srcset="">
        </a>
      </div>
      <div class="p-2 socials bd-highlight">
        <a href="">
          <img src=".././assets/icons/YouTube_full-color_icon_(2017).svg" height="30px" width="40px" alt="" srcset="">
        </a>
      </div>
      <div class="p-2 socials bd-highlight">
        <a href="">
          <img src=".././assets/icons/Instagram_logo_2016.svg" height="30px" width="30px" alt="" srcset="">
        </a>
      </div>
    </div>
    
    <div class="d-flex navitems justify-content-center">
      <a href="">Home</a>
      <a href="">Helpline</a>
      <a href="">How to reach</a>
      <a href="">Contact us</a>
    </div>
    <div class="d-flex justify-content-around">
      <div class="p-2 bd-highlight">&#9400; Copyright {{currentYear}}, Kailash Math Kashi Varanasi</div>
      <div class="p-2 bd-highlight">All rights reserved </div>
      <div class="p-2 bd-highlight">Developed by </div>
      
    </div>
  </div>
</div>