<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar fixed-top navbar-expand-lg ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/kailash-math" routerLinkActive="activebutton" ariaCurrentWhenActive="page" class="nav-link "
            aria-current="page">कैलाश मठ</a>
        </li>
        <li class="nav-item">
          <a routerLink="/math-sampraday" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
            class="nav-link">मठ संप्रदाय</a>
        </li>
        <li class="nav-item">
          <a routerLink="/jagadguru-shankaracharya" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
            class="nav-link">आदि शंकराचार्य</a>
        </li>
        <li class="nav-item">
          <a routerLink="/math-karyakshetra" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
            class="nav-link">मठ के कार्यक्षेत्र</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dharmik-yojna" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
            class="nav-link">धार्मिक योजना</a>
        </li>
        <li class="nav-item">
          <a routerLink="/media-coverage" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
            class="nav-link">फोटो गैलरी</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            मुख्य चीजें
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/gurukul">गुरुकुल</a></li>
            <li><a class="dropdown-item" routerLink="/gaushala">गौशाला</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a routerLink="/nirman-sangh" class="dropdown-item">नवराष्ट्र संघ</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ऑनलाइन
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/pooja-booking" class="dropdown-item" href="#">पूजा बुकिंग</a></li>
            <li><a routerLink="/donation" class="dropdown-item" href="#">दान</a></li>
            <!-- <li><a routerLink="/library" class="dropdown-item" href="#">पुस्तकालय</a></li> -->
            <li><a routerLink="/magazine-membership" class="dropdown-item" href="#">सदस्यता</a></li>
            <li><a routerLink="/room-booking" class="dropdown-item" href="#">आवास बुकिंग</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a routerLink="/donation" class="dropdown-item" href="#">दान</a></li>
            <!-- <li class="visually-hidden"><a routerLink="/aarti-stuti" class="dropdown-item" href="#">दान</a></li> -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>