<aside class="container-fluid border rounded-left h-50 flex-fill">
  <ul class="list-group">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
            <i class="bi bi-newspaper"></i>&nbsp;&nbsp;तत्काल समाचार
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <ul>
              <li>2</li>
              <li>5</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <i class="bi bi-alarm"></i>&nbsp;&nbsp;मंदिर खुलने का समय
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse show">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
            <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being
            filled with some actual content.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <i class="bi bi-alarm"></i>&nbsp;&nbsp;आरती का समय
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse show">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
            <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
            happening here in terms of content, but just filling up the space to make it look, at least at first
            glance, a bit more representative of how this would look in a real-world application.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
            <i class="bi bi-newspaper"></i>&nbsp;&nbsp;प्रेस विज्ञप्ति
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse show">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
            <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
            happening here in terms of content, but just filling up the space to make it look, at least at first
            glance, a bit more representative of how this would look in a real-world application.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
            <i class="bi bi-calendar-date"></i>&nbsp;&nbsp;आगामी कार्यक्रम
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse show">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
            <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
            happening here in terms of content, but just filling up the space to make it look, at least at first
            glance, a bit more representative of how this would look in a real-world application.
          </div>
        </div>
      </div>
    </div>
  </ul>
</aside>