<div class="whole">
    <div class="left-column">
        <div class="sanatan-sanskriti">
            <div class="card kailash-math-art border-0 mb-4">
                <div class="container1">
                    <h5 class="heading">स्वामी जी की रचनाएँ
                    </h5>
                    <div class="">
                        <div class="container">
                            <div class="row">
                                <div class="row">
                                    <div class="col-6 col-md-3 thumb" *ngFor="let each of imgUrls;">
                                        <a class="thumbnail" href="{{each}}" data-image-id="" data-toggle="modal" data-title="Test1"
                                            data-image="https://ik.imagekit.io/kailash/print-media/swami-media12.jpeg?updatedAt=1688316534362"
                                            data-target="#image-gallery">
                                            <img class="img-thumbnail m-2" src="{{each}}" alt="Another alt text">
                                        </a>
                                    </div>
                                </div>
                                <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="image-gallery-title"></h4>
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">×</span><span class="sr-only">Close</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary float-left"
                                                    id="show-previous-image"><i class="fa fa-arrow-left"></i>
                                                </button>

                                                <button type="button" id="show-next-image"
                                                    class="btn btn-secondary float-right"><i
                                                        class="fa fa-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="card">
            <app-right-aside></app-right-aside>
        </div>
        <div class="card rounded fa-border">
            <h3 class="py-1 px-3 m-0 rounded" style=" background-color: #ca0000; color: white;">Popular Post</h3>
            <div class="facebook-responsive">
                <iframe
                    src="https://www.facebook.com/plugins/video.php?height=295&href=https%3A%2F%2Fwww.facebook.com%2FSwamiAshutoshanand%2Fvideos%2F562855992662971%2F&show_text=false&width=560&t=0"
                    width="560" height="295" style="border-radius: 20px;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                    allowFullScreen="true" class="p-1">
                </iframe>
            </div>
            <div class="facebook-responsive">
                <iframe frameborder=0 height=250 width=550
                    src="https://twitframe.com/show?url=https%3A%2F%2Ftwitter.com%2Fmyogiadityanath%2Fstatus%2F1667843547209555970"></iframe>
            </div>
            <div class="facebook-responsive">
                <iframe
                    src="https://www.facebook.com/plugins/video.php?height=295&href=https%3A%2F%2Fwww.facebook.com%2FSwamiAshutoshanand%2Fvideos%2F285135730612123%2F&show_text=false&width=560&t=0"
                    width="560" height="297" style="border-radius: 20px; overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                    allowFullScreen="true" class="p-1">
                </iframe>
            </div>
            <div class="facebook-responsive">
                <iframe frameborder=0 height=250 width=550
                    src="https://twitframe.com/show?url=https%3A%2F%2Ftwitter.com%2Fmyogiadityanath%2Fstatus%2F1667838208116424704"></iframe>
            </div>
            <div class="facebook-responsive">
                <iframe
                    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSwamiAshutoshanand%2Fposts%2Fpfbid0oRD3ZaU9TZRFhqdPQ9YURrhhNZujDk4KtkayVPM7MZ6P7UfbWBUjLpE3fCxmpSiUl&width=500&show_text=false&height=882&appId"
                    width="500" height="882" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <br>
            <div class="fakeimg m-0"><img
                    src="https://rgyan-flutter200503-dev.s3.ap-south-1.amazonaws.com/public/pg-content/uploads/2018-03/kailash-muttt.jpg"
                    alt="" srcset=""></div><br>
        </div>
        <div class="card socials-card">
            <h4 class="py-1 px-3" style="background-color: #ca0000; color: white;">महामण्डलेश्वर स्वामी आशुतोषानंद जी
                महाराज</h4>
            <div class="container text-center">
                <div class="col">
                    <div class="row thumb">
                        <a href="">
                            <img src="https://ik.imagekit.io/kailash/yogiji-swamiji/tr:pr-true,q-1/5.jpeg?updatedAt=1688314326202"
                                class="img-fluid" alt="...">
                            <div class="centered-bottom px-1 py-1">मुख्यमंत्री योगी आदित्यनाथ जी एवं महामण्डलेश्वर
                                स्वामी
                                आशुतोषानंद जी महाराज </div>
                        </a>
                    </div>
                    <div class="row thumb">
                        <a href="">
                            <img src="https://ik.imagekit.io/kailash/yogiji-swamiji/16.jpeg?updatedAt=1688314270154"
                                class="img-fluid" alt="...">
                            <div class="centered-bottom px-1 py-1">मुख्यमंत्री योगी आदित्यनाथ जी एवं महामण्डलेश्वर
                                स्वामी
                                आशुतोषानंद जी महाराज </div>

                        </a>
                    </div>
                    <div class="row thumb">
                        <a href="">
                            <img src="https://ik.imagekit.io/kailash/yogiji-swamiji/11.jpeg?updatedAt=1688314486154"
                                class="img-fluid" alt="...">
                            <div class="centered-bottom px-1 py-1">संवाददाताओं से बात करते महामण्डलेश्वर स्वामी
                                आशुतोषानंद जी
                                महाराज</div>

                        </a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around py-2">
                <!-- Facebook -->
                <a href="">
                    <i class="fa fa-facebook-official fa-3x" style="color: #3b5998;"></i>
                </a>
                <!-- Youtube -->
                <a href="">
                    <i class="fa fa-youtube-play fa-3x fa-flip" style="color: #ed302f;"></i>
                </a>
                <!-- Twitter -->
                <a href="">
                    <i class="fa fa-twitter-square fa-3x" style="color: #55acee;"></i>
                </a>
                <!-- Instagram -->
                <a href="">
                    <i class="fa fa-instagram fa-3x" style="color: #ac2bac;"></i>
                </a>
                <!-- Linkedin -->
                <a href="">
                    <i class="fa fa-linkedin-square fa-3x" style="color: #0082ca;"></i>
                </a>
            </div>
        </div>
        <div class="card socials-card">
            <h4 class="py-1 px-3" style="background-color: #ffc982; color: brown;">स्थान</h4>
            <div class="d-flex justify-content-around py-2">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d225.43974349581302!2d82.98714012514301!3d25.302998019974343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e32072305ba2d%3A0x346c4418be2e58ea!2sKailash%20Math!5e0!3m2!1sen!2sin!4v1688304780867!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>