<div class="card" style="width: 18rem;">
    <div class="row mx-2 border-bottom">
        <div class="col p-1">
            <img height="40px" width="40px" style="background-color: black; border: 1px solid black; border-radius: 50%;" src="https://c7.alamy.com/comp/DT2ABC/free-sample-inscription-on-red-rubber-stamp-DT2ABC.jpg" alt="">
        </div>
        <div class="col px-1">
            <p>Name <br><span style="opacity: 0.5;">DOB</span></p>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <img height="120px" src="https://c7.alamy.com/comp/DT2ABC/free-sample-inscription-on-red-rubber-stamp-DT2ABC.jpg"
        class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>