<div class="">
  <div class="left-column">
    <div class="sanatan-sanskriti">
      <div class="card kailash-math-art border-0 mb-4">
        <div class="container1">
          <h3 class="heading">गुरुकुल</h3>
          <div class="m-3 row d-flex">
            <!-- <div class="col-6"> -->
            <img class="col-6" src="https://ik.imagekit.io/kailash/gurukul/tr:pr-true,q-10/gurukul-group-1.jpg" alt="">
            <!-- </div> -->
            <!-- <div class="col-6"> -->
            <img class="col-6" style="filter: contrast(1.3);"
              src="https://ik.imagekit.io/kailash/gurukul/exam.jpeg?updatedAt=1688579237579" alt="">
            <!-- </div> -->
          </div>
          <div class="">
            <p>
              गुरुकुल एक प्राचीन भारतीय शिक्षा पद्धति है जो ब्रह्मचर्य और आश्रम व्यवस्था के आधार पर संचालित होती थी।
              गुरुकुल संस्कृति, शिक्षा और आध्यात्मिक शिक्षा के प्रमुख केंद्र थे। ये प्राथमिकतः आर्यों के जीवन शैली का एक
              महत्वपूर्ण अंग थे और विभिन्न विद्यालयों के रूप में संचालित होते थे। गुरुकुलों में छात्रों को शिक्षा,
              आचार्य द्वारा प्रदान की जाती थी, जो अक्सर एक गुरु या आचार्य द्वारा प्रतिनिधित्व किया जाता था।
              <br><br>
              गुरुकुल संस्कृति अधिकतर विद्यार्थियों के निवास स्थान के रूप में एक गुरु के आवास के साथ जुड़ी होती थी।
              छात्रों को अपने गुरु के नियंत्रण में रहना होता था और उन्हें गुरु के पास स्थानीय जीवन के अनुसार आचार्य के
              आदर्शों, संस्कृति और शिक्षा की शिक्षा प्राप्त करते थे। छात्रों को गुरुकुल में वैदिक ज्ञान, विद्या, योग,
              धर्म, दार्शनिक तत्वों और वैदिक साहित्य की शिक्षा प्रदान की जाती थी।
              <br><br>
              गुरुकुलों में छात्रों को शिक्षा के अध्यात्मिक और नैतिक मूल्यों के साथ साथ विभिन्न कला, विज्ञान, गणित,
              वाणिज्य और शस्त्र-शिल्पादि क्षेत्रों
              में भी प्रशिक्षण दिया जाता था। छात्रों को गुरुकुल में न सिर्फ शिक्षा दी जाती थी, बल्कि उन्हें सामाजिक और
              नैतिक मूल्यों, संस्कृति के महत्व, सामाजिक जीवन के आदर्शों, और दार्शनिक तत्वों की भी शिक्षा प्रदान की जाती
              थी।
              <br><br>
              वर्तमान में, गुरुकुल पद्धति अपने महत्व को बनाए रखते हुए भारतीय शिक्षा प्रणाली का एक महत्वपूर्ण हिस्सा बनी
              हुई है। हालांकि, आधुनिक शिक्षा प्रणाली में गुरुकुलों की प्रभावशाली अवधारणा से अलग विद्यालयों और कॉलेजों की
              स्थापना हुई है। इसके बावजूद, कुछ धार्मिक संस्थानों और संस्कृत विद्यापीठों में गुरुकुलों की परंपरा आज भी
              जीवित है। ये संस्थान आध्यात्मिक शिक्षा और संस्कृति के माध्यम से छात्रों को प्रशिक्षित करते हैं।
              <br><br>
              इस प्रकार, भारतीय गुरुकुल पद्धति का इतिहास बहुत विशालक्ष्य है और वर्तमान में यह अपनी महत्वपूर्णता बनाए
              रखती है। यह एक प्राचीन और समृद्ध शिक्षा प्रणाली है जो
              छात्रों को न केवल शिक्षा और ज्ञान प्रदान करती है, बल्कि उन्हें सम्पूर्ण विकास के साथ आध्यात्मिक और सामाजिक
              मूल्यों का भी परिचय देती है।<br>
            </p>
          </div>
          <div class="content-1 my-4">
            <div class="col-md-8 ">
              <h3 class="text-center" style="text-shadow: 0px 0px 10px white;"> कैलाश मठ गुरुकुल</h3>
              <p>

                आधुनिक विद्वान श्री जितेन्द्र जी तिवारी-व्याकरणाचार्य द्वारा यहाँ साधन हीन वित्तहीन विद्यार्थियों को
                आरम्भ से लेकर उच्च शिक्षा, उनके रहने एवं भोजन की व्यवस्था देकर सर्वांगीण विकास सुनिश्चित किया जाता है।
              </p>
            </div>
            <div class="col-md-4">
              <img src="https://ik.imagekit.io/kailash/gurukul/exam.jpeg?updatedAt=1688579237579" alt="First image">
            </div>
          </div>
          <div class="content-2">
            <div class="col-md-4">
              <img
                src="https://ik.imagekit.io/kailash/gurukul/tr:pr-true,q-10/gurukul-group-1.jpg?updatedAt=1687104242698"
                alt="Second image">
            </div>
            <div class="col-md-8">
              <h3 class="text-center" style="text-shadow: 0px 0px 10px white;">“शरीरमाद्यं खलु धर्म साधनम्"</h3>

              <p>
                अर्थात धर्म की साधना करनी है, तो सबसे पहला साधन है अपना शरीर स्वस्थ्य रखें। योग करे निरोग रहें। कैलाश मठ
                में नित्य योग कराया जाता है।
                <br>
                <i class="pt-2">- योगाचार्य स्वामी राघवानन्द गिरी जी महाराज</i>
              </p>
            </div>
          </div>
        </div>

        <div class="container1">
          <div>
            <h3 class="text-center pt-4 pb-2">गुरुकुल की कुछ तस्वीरें</h3>
            <div class="row d-flex mx-2">
              <img src="https://ik.imagekit.io/kailash/gurukul/gurukul-1.jpg?tr=q-1,pr-true" alt="" class="col-sm-6 col-md-3">
              <img src="https://ik.imagekit.io/kailash/gurukul/gurukul-5.jpg?tr=q-1,pr-true" alt="" class="col-sm-6 col-md-3">
              <img src="https://ik.imagekit.io/kailash/gurukul/gurukul-17.jpeg?tr=q-1,pr-true" alt="" class="col-sm-6 col-md-3">
              <img src="https://ik.imagekit.io/kailash/gurukul/gurukul-28.jpeg?tr=q-1,pr-true" alt="" class="col-sm-6 col-md-3">
            </div>
            <div class="d-flex justify-content-center">
              <button routerLink="/gurukul-media" type="button" class="btn btn-warning my-3" style="border: 1px solid blue;">और देखें</button>
            </div>
            <!-- <app-gurukul-media></app-gurukul-media> -->
          </div>
          <div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="right-column">
    <div class="card">
      <app-right-aside></app-right-aside>
    </div>
    <div class="card rounded fa-border">
      <h3 class="py-1 px-3 m-0 rounded" style=" background-color: #ca0000; color: white;">Popular Post</h3>
      <div class="facebook-responsive">
        <iframe frameborder=0 height=250 width=550
          src="https://twitframe.com/show?url=https%3A%2F%2Ftwitter.com%2Fmyogiadityanath%2Fstatus%2F1667843547209555970"></iframe>
      </div>
      <div class="facebook-responsive">
        <iframe
          src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSwamiAshutoshanand%2Fposts%2Fpfbid0oRD3ZaU9TZRFhqdPQ9YURrhhNZujDk4KtkayVPM7MZ6P7UfbWBUjLpE3fCxmpSiUl&width=500&show_text=false&height=882&appId"
          width="500" height="882" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
    </div>
  </div>