* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.brand-nav-gap{
  // height: 130px;
}

@media (max-width: 576px) {
  .brand-nav-gap{
      // height: 65px;
  }
}

.carousel img {
    object-fit: cover;
}

.carousel-control-next,
.carousel-control-prev {
    background-color: transparent;
}

.carousel-caption {
    padding-bottom: 40px;
    background-color: transparent;
}

.carousel-indicators {
    background-color: transparent;
}

.caption-text {
    background-color: black;
    color: yellow;
    text-shadow: 0 0 1em rgb(255, 255, 255);
    border: 5px double yellow;
    display: inline;
    border-radius: 10px;
    padding: 8px;
}

.caption-text:hover {
    padding: 5;
    background-color: black;
    font-weight: bold;
    color: white;
    border: 5px double rgb(255, 26, 26);
}

.main{
    background-color: rgb(255, 255, 186);
}

aside {
    background-color: rgb(255, 255, 186);
}


.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* number of lines to show */
          line-clamp: 10;
  -webkit-box-orient: vertical;
}

.footer-light {
    padding:50px 0;
    // color:#000000;
    background-color:#ffe065;
  }
  
  .footer-light h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-light ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-light ul a {
    // color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-light ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-light .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-light .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-light .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-light .item.text iframe {
    width: 500px;
    height: 200px;
    border:1px solid blue;
    border-radius: 8px;
    margin-bottom:0;
  }
  
  .footer-light .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-light .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  

  .footer-light .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    // color:#fff;
    opacity:1;
  }
  
  .footer-light .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-light .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.8;
    font-size:13px;
    margin-bottom:0;
  }

  .footer p{
    color: aliceblue;
  }

  .footer{
    color: white;
  }

  .socials:hover{
    opacity: 0.8;
  }

  .footer .navitems a{
    padding: 20px;
    color: wheat;
  }


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
  // border: 1px solid red;
	// background-color:rgb(248, 255, 49);
	// color:#FFF;
	// border-radius:50px;
	text-align:center;
	// box-shadow: 0px 0px 13px #ff0000, 0px 0px 5px #000;
}

fa-icon {
  width: 200px;
  height: 200px;
  background: linear-gradient(to top, #e5ff00 0%, #ffffff 90%);
  border-radius: 100%;
  position: relative;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.mat-slide-toggle{
  transform: scale(2);
}

.toggle-bhakti{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

@media (max-width:767px) {
  .toggle-bhakti{
    border: 1ps solid blue;
    padding: 0;
  }
    .toggle-bhakti span{
      display: none;
    }
  }


.want-music{
  position: fixed;
  bottom: 25px;
  right: 80px;
  animation: flash 2s 2;
  background-color: rgba(255, 255, 255, 0.718);
  // text-shadow: 2px 2px black;
  text-shadow: -2px -2px 5px rgb(255, 255, 255);
  color: brown;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  visibility: hidden;
}

@keyframes flash {
  0%{
    font-size: medium;
    visibility: visible;
  }
  50%{
    font-size: large;
    visibility: visible;
  }
  100%{
    font-size: medium;
    visibility: visible;
  }
}