<div class="whole">

  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">
        <h3>Area 1</h3>
        <div class="row">
          <div class="col-6">
            <img src="../../assets/imgs/pexels-photo-5792641.jpeg" alt="Image 1" class="img-fluid medium-image" />
          </div>
          <div class="col-6">
            <img src="../../assets/imgs/pexels-photo-5792641.jpeg" alt="Image 2" class="img-fluid medium-image" />
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod turpis id efficitur aliquet.</p>
      </li>
      <li class="list-group-item">
        <h3>Area 1</h3>
        <div class="row">
          <div class="col-6">
            <img src="../../assets/imgs/pexels-photo-5792641.jpeg" alt="Image 1" class="img-fluid medium-image" />
          </div>
          <div class="col-6">
            <img src="../../assets/imgs/pexels-photo-5792641.jpeg" alt="Image 2" class="img-fluid medium-image" />
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod turpis id efficitur aliquet.</p>
      </li>
      <li class="list-group-item">
        <h3>Area 1</h3>
        <div class="row">
          <div class="col-6">
            <img src="../../assets/imgs/pexels-photo-5792641.jpeg" alt="Image 1" class="img-fluid medium-image" />
          </div>
          <div class="col-6">
            <img src="../../assets/imgs/pexels-photo-5792641.jpeg" alt="Image 2" class="img-fluid medium-image" />
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod turpis id efficitur aliquet.</p>
      </li>
      <li class="list-group-item">
        <h3>Area 1</h3>
        <div class="row">
          <div class="col-6">
            <img src="../../assets/imgs/pexels-photo-5792641.jpeg" alt="Image 1" class="img-fluid medium-image" />
          </div>
          <div class="col-6">
            <img src="../../assets/imgs/pexels-photo-5792641.jpeg" alt="Image 2" class="img-fluid medium-image" />
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod turpis id efficitur aliquet.</p>
      </li>
      <!-- Rest of the list items -->
    </ul>
  </div>
  
</div>