<div class="whole">
  <div class="left-column">
    <div class="sanatan-sanskriti">
      <div class="card kailash-math-art border-0 mb-4">
        <h3 class="heading">मठ - मंदिर के कार्यक्षेत्र</h3>
        <div class="container1 m-3" style="border: 1px solid red;">
          <div class="content-1">
            <div class="col">
              <h5 class="text-center p-2 fw-bold subheading">आध्यात्मिक कार्यक्षेत्र </h5>
              <p>मठ एक धार्मिक संस्थान होता है जो आध्यात्मिकता के विकास और प्रचार-प्रसार के लिए दृढ़ता से काम करता है।
                यहां, गुरु-शिष्य परंपरा के अनुसार आध्यात्मिक शिक्षा दी जाती है जो ज्ञान, ध्यान, और आत्मविकास में समृद्धि
                प्रदान करती है। मठ में धार्मिक उपासना, प्रवचन, और साधना के अवसर प्रदान किया जाता है जो शिष्यों को
                आध्यात्मिक संवाद में शामिल करता है। समुदाय के लोग यहां आकर आत्मशुद्धि, समय और उच्चतम सत्य की खोज करते
                हैं, जो उन्हें जीवन के उद्दीपक बनाता है। मठ आध्यात्मिकता की समृद्धि के लिए एक धार्मिक और सामाजिक माध्यम
                है जो लोगों को एक नया दिशा और मार्ग दर्शन प्रदान करता है।</p>
            </div>
          </div>
          <div class="content-2">
            <div class="col">
              <p>मठ समुदाय के आध्यात्मिक और सामाजिक विकास को प्रोत्साहित करने के लिए अपार योगदान करता है। यह धार्मिक
                आयोजनों, सत्संगों, और परम्परागत उत्सवों का आयोजन करता है जो लोगों को संस्कृति, संगीत, और प्राचीन
                शास्त्रों के माध्यम से जोड़ता है। इसके अलावा, मठ सामाजिक कार्यों में भी सक्रिय रहता है जैसे कि गरीबी
                निवारण, शिक्षा की प्रोत्साहना, और सामाजिक न्याय के प्रति जागरूकता। मठ समाज को एकता, समरसता, और सामाजिक
                न्याय के माध्यम से आध्यात्मिकता के सिद्धांतों को अपनाने की प्रेरणा देता है। इस तरीके से, मठ समुदाय को
                धार्मिक, आध्यात्मिक, और सामाजिक अभिवृद्धि का केंद्र बनाकर समृद्ध समाज का निर्माण करता है।
              </p>
            </div>
          </div>
        </div>
        <div class="container1 m-3" style="border: 1px solid red;">
          <div class="content-1">
            <div class="col">
              <h5 class="text-center p-2 fw-bold subheading">धार्मिक कार्यक्षेत्र</h5>
              <p>
                मठ एक धार्मिक संस्थान होता है जो धार्मिक कार्यों के क्षेत्र में सक्रियता दिखाता है और आध्यात्मिक विकास
                को प्रोत्साहित करता है। यहां, धार्मिक अनुष्ठानों, पूजा-अर्चना, और धर्मसंबंधी गतिविधियों का आयोजन किया
                जाता है। मठ में आध्यात्मिक गुरुओं द्वारा वेद-पुराण, उपनिषद, भजन, और संगीत के पाठ प्रदान किए जाते हैं जो
                शिष्यों को धार्मिक ज्ञान में समृद्धि प्रदान करते हैं। धार्मिक उपासना के अवसरों के माध्यम से मठ लोगों को
                आध्यात्मिक सामर्थ्य और मार्गदर्शन प्रदान करता है। समुदाय के लोग यहां आकर अपनी आध्यात्मिक आवश्यकताओं को
                पूरा करते हैं, आंतरिक शांति और मनोयोग की प्राप्ति करते हैं, और धार्मिक मार्ग पर चलने का प्रयास करते हैं।
                <br>
                मठ धार्मिक कार्यों के माध्यम से आध्यात्मिक संवाद को प्रोत्साहित करता है। यह विभिन्न धार्मिक सत्रों,
                प्रवचनों, और साधु-संतों के सत्संगों का आयोजन करता है जो लोगों को आत्मचिंतन, ध्यान, और आध्यात्मिक साधना
                में शामिल करते हैं। मठ में संग्रहीत धार्मिक पुस्तकों का पठन और प्रचार-प्रसार किया जाता है जो ज्ञान और
                आध्यात्मिक उत्थान को बढ़ाते हैं। धार्मिक योग के माध्यम से मठ लोगों को आध्यात्मिक जीवन के महत्वपूर्ण
                सिद्धांतों को समझने और अपनाने में मदद करता है। मठ के आध्यात्मिक कार्यक्षेत्र ने समाज के बीच धार्मिकता,
                शांति, और समृद्धि के मार्ग पर प्रकाश डाला है और उच्चतम आध्यात्मिक मूल्यों को प्रमाणित किया है।
              </p>
            </div>
          </div>
        </div>
        <div class="container1 m-3" style="border: 1px solid red;">
          <div class="content-1">
            <div class="col">
              <h5 class="text-center p-2 fw-bold subheading">सामाजिक कार्यक्षेत्र</h5>
              <p>
                मठ समाज के सामाजिक कार्यक्षेत्र में महत्वपूर्ण योगदान करता है। यह सामाजिक न्याय, सेवा, और गरीबी निवारण के मामले में सक्रिय होता है। मठ द्वारा संचालित योजनाएं और कार्यक्रम गरीब, बेघर, असहाय, और दुर्भाग्यशाली लोगों के लिए समर्पित होते हैं। इसमें आहार, आवास, शिक्षा, स्वास्थ्य सुविधाएं, और आर्थिक सहायता के प्रदान के माध्यम से उनकी मदद की जाती है। मठ गरीबी से पीड़ित क्षेत्रों में आक्रमण करके जनसंख्या के साथ-साथ उनकी सेवा करने का प्रयास करता है ताकि सामाजिक न्याय और उच्चतमता का एक सामर्थ्यपूर्ण माध्यम प्राप्त हो सके।
                <br>
                मठ गाँवों और आदिवासी क्षेत्रों में भी सामाजिक कार्यक्षेत्र में अपने प्रयासों को दिखाता है। यह आवास विहीन और सुविधा विहीन क्षेत्रों में जाकर गरीब और असहाय लोगों की सेवा करता है। मठ के सदस्य जीवन के आदर्शों के आधार पर गांवों में आर्थिक, सामाजिक और शैक्षिक विकास के प्रोतसाहन करते हैं। उन्हें स्वयंसेवी ग्रुपों का गठन करके गांव के लोगों को व्यवसायिक मार्गदर्शन, कौशल विकास, और संगठनात्मक क्षमता के लिए प्रशिक्षण प्रदान किया जाता है। इसके साथ ही, मठ गरीब और असहाय लोगों के लिए उद्यमीता और रोजगार के अवसर प्रदान करने के लिए सामाजिक व्यवसायों और उद्यमिता को समर्थन करता है। इस तरीके से, मठ सामाजिक उत्थान के लिए मार्गदर्शन, सहयोग, और समर्थन का एक महत्वपूर्ण स्रोत बनता है।
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="right-column">
    <div class="card">
      <app-right-aside></app-right-aside>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg"><img
          src="https://lh5.googleusercontent.com/p/AF1QipPVFk_GX-3fSQIgcl75B-qGlWjAesqa2FKxjO-f=w500-h240-k-no" alt=""
          srcset=""></div><br>
      <div class="fakeimg"><img
          src="https://rgyan-flutter200503-dev.s3.ap-south-1.amazonaws.com/public/pg-content/uploads/2018-03/kailash-muttt.jpg"
          alt="" srcset=""></div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>