.whole{
  background-image: url(../../assets/imgs/backgrounds/liquid-cheese.svg); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.medium-image {
    max-width: 200px;
    // width: auto;
    border-radius: 15px;
  }
  
