<div class="whole">
    <div class="left-column py-2">
        <div class="sanatan-sanskriti">
            <div class="card kailash-math-art border-0 mb-4">
                <div class="container1">
                    <div class="upper">

                        <!-- <h1 class="heading">स्वामी आशुतोषानंद गिरी जी महाराज</h1> -->
                        <div class="title text-center p-4 pb-2 fw-bold mt-0">
                            श्री श्री 1008 महामण्डलेशवर स्वामी आशुतोषानंद गिरी जी महाराज
                            <br>
                            🌼🏵️🌼
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="mb-0">
                                <img src="https://ik.imagekit.io/kailash/swami-ashu/profile.png?updatedAt=1688474331032"
                                    width="300px" alt="" srcset="">
                            </div>
                        </div>

                        <div class="text-center p-4 fw-bold">
                            श्री श्री 1008 महामण्डलेशवर स्वमी आशुतोषानन्द गिरी जी महाराज
                            <br>
                            (न्याय वेदान्त दर्शनाचार्य काशी)
                        </div>
                    </div>
                    <div class="content-1">
                        <div class="col">
                            <p>
                                आपका जन्म बिहार प्रान्त के विश्वास पुर ग्राम में एक मध्यम परिवार में हुआ, बाल्यकाल से आप
                                भक्ति एवं तीव्र वैराग्य से युक्त रहें, वैराग्य इतना प्रबल था कि सच्चे ज्ञान की तलाश में
                                घर परिवार एवं भौतिक पढाई को छोड़कर स्वामी राम बालक दास जी के सन्धिय में महर्षि शाही
                                स्वमी जी साधना का भेद जानकर सन्त सेवा एवं योग साधना में लग गए।
                                <br>
                                <br>
                                <span class="text-center fw-bold">
                                    “ऋते ज्ञानान्न मुक्तिः”
                                </span>
                                इस श्रुति वचन एवं "मनुष्य का मष्तिक अनन्त ज्ञान का भण्डार है", इस विवेकानन्द वचन से
                                प्रभावित होकर अनन्त ज्ञान की खोज में आप लग गए। परन्तु शिक्षा पुरी न होने के कारण आप
                                हरिद्वार पहुचें जहाँ पुरानी झाड़ी सप्त सरोवर में स्वामी भरतानन्द जी महाराज से लघु
                                सिद्धान्त कुमौदी तर्क संग्रह एवं सांख्य दर्शन के अध्यन कर पुनः उच्च शिक्षा हेतु काशी आ
                                गये, जहाँ पूज्य गुरूदेव की कृपा से कैलाश मठ में रहकर 14 वर्षों तक लगातार न्याय व्याकरण
                                एवं वेदान्त का गहन अध्यन किया। अध्यन काल में आप अनेकों बार शास्त्रार्थ प्रतियोगिता में
                                स्वर्ण पदक से सम्मानित हुए। और एक बार भारत में प्रथम स्थान प्राप्त किया।
                                <br>
                                <br>
                                नेट (जे०आर०एफ)
                                उत्तीर्ण कर आप कोलकाता में स्वामी विवेकानन्द विश्वविद्यालय में असिस्टेंट प्रोफेसर के पद
                                पर नियुक्त हुए परन्तु आपका मन संन्यास की ओर लगा रहा और मार्च 2014 में शिवरात्री के दिन
                                काशी में संन्यास धारण किया, संन्यासी का नया जीवन हो जाता है। इसलिए शिवरात्री के दिन आपका
                                जन्म दिन मनाया जाता है संन्यास के बाद आपने कर्तव्य का त्याग नहीं किया बल्कि आप अधिक
                                उत्साह के साथ एक बहुत बडी जिम्मेदारी के साथ सम्पूर्ण नर-नारायण की सेवा के लिए कथा
                                क्षेत्र को पूज्य गुरूदेव की हार्दिक इच्छा से धर्म प्रचार हेतु प्रबल माध्यम समझा, तब से
                                आप सतत् श्री रामकथा, श्रीमद्भागवत कथा, देवी भागवत कथा, श्री गीता ज्ञान यज्ञ एवं शिव
                                महापुराण की कथा रूपी धारा को सम्पूर्ण भारत में प्रवाहित करते आ रहें है।
                                <br>
                                <br>
                                शास्त्र में गुरू को ईश्वर के विभिन्न रूपों ब्रह्मा विष्णु एवं महेश्वर के रूप में
                                स्वीकार्य है। गुरू ब्रह्मा इसलिए हैं क्योंकि वह शिष्यों को गढ़ता है, इसे नवजन्म देता है।
                                गुरू विष्णु भी हैं क्योंकि वह शिष्य की रक्षा करता है। गुरू साक्षात महेश्वर भी हैं
                                क्योंकि वह शिष्य के सभी दोषों का संहार भी करता है। संत कबीर कहते हैं "हरि रूठे गुरु ठौर
                                है गुरू रूठे नहीं ठौर' अर्थात् भगवान के रूठने पर तो की शरण रक्षा कर सकती है परन्तु गुरू
                                के रूठने पर कहीं भी शरण मिलना संभव नहीं। "सद्गुरू की महिमा गुरु अनन्त अनन्त किया उपकार।
                                लोचन अनन्त उघारिया अनन्त दिखावनहार ।।
                                <br><br>
                                गुरू की महिमा अनन्त है, उन्होंने शिष्य पर अनन्त उपकार किये हैं। विषय वासनाओं से बन्द
                                शिष्य की आँखों को ज्ञान शलाका से खोलकर अनन्त तत्व ब्रह्म दर्शन भी कराया है ऐसे गुरूवर को
                                नमन करते हैं।

                            </p>
                            <div class="">
                                <div class="text-center p-2 mt-4">
                                    <h4>इनकी रचनाएँ</h4>
                                </div>
                                <app-achievements></app-achievements>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-swamiji-media></app-swamiji-media>
    </div>
    <div class="right-column">
        <div class="card">
            <app-right-aside></app-right-aside>
        </div>
        <div class="card rounded fa-border">
            <h3 class="py-1 px-3 m-0 rounded" style=" background-color: #ca0000; color: white;">Popular Post</h3>
            <div class="facebook-responsive">
                <iframe
                    src="https://www.facebook.com/plugins/video.php?height=295&href=https%3A%2F%2Fwww.facebook.com%2FSwamiAshutoshanand%2Fvideos%2F562855992662971%2F&show_text=false&width=560&t=0"
                    width="560" height="295" style="border-radius: 20px;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                    allowFullScreen="true" class="p-1">
                </iframe>
            </div>
            <div class="facebook-responsive">
                <iframe frameborder=0 height=250 width=550
                    src="https://twitframe.com/show?url=https%3A%2F%2Ftwitter.com%2Fmyogiadityanath%2Fstatus%2F1667843547209555970"></iframe>
            </div>
            <div class="facebook-responsive">
                <iframe
                    src="https://www.facebook.com/plugins/video.php?height=295&href=https%3A%2F%2Fwww.facebook.com%2FSwamiAshutoshanand%2Fvideos%2F285135730612123%2F&show_text=false&width=560&t=0"
                    width="560" height="297" style="border-radius: 20px; overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                    allowFullScreen="true" class="p-1">
                </iframe>
            </div>
            <div class="facebook-responsive">
                <iframe frameborder=0 height=250 width=550
                    src="https://twitframe.com/show?url=https%3A%2F%2Ftwitter.com%2Fmyogiadityanath%2Fstatus%2F1667838208116424704"></iframe>
            </div>
            <div class="facebook-responsive">
                <iframe
                    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSwamiAshutoshanand%2Fposts%2Fpfbid0oRD3ZaU9TZRFhqdPQ9YURrhhNZujDk4KtkayVPM7MZ6P7UfbWBUjLpE3fCxmpSiUl&width=500&show_text=false&height=882&appId"
                    width="500" height="882" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <br>
            <div class="fakeimg m-0"><img
                    src="https://rgyan-flutter200503-dev.s3.ap-south-1.amazonaws.com/public/pg-content/uploads/2018-03/kailash-muttt.jpg"
                    alt="" srcset=""></div><br>
        </div>
        <div class="card socials-card">
            <h4 class="py-1 px-3" style="background-color: #ca0000; color: white;">महामण्डलेश्वर स्वामी आशुतोषानंद जी
                महाराज</h4>
            <div class="container text-center">
                <div class="col">
                    <div class="row thumb">
                        <a href="">
                            <img src="https://ik.imagekit.io/kailash/yogiji-swamiji/tr:pr-true,q-1/5.jpeg?updatedAt=1688314326202"
                                class="img-fluid" alt="...">
                            <div class="centered-bottom px-1 py-1">मुख्यमंत्री योगी आदित्यनाथ जी एवं महामण्डलेश्वर
                                स्वामी
                                आशुतोषानंद जी महाराज </div>
                        </a>
                    </div>
                    <div class="row thumb">
                        <a href="">
                            <img src="https://ik.imagekit.io/kailash/yogiji-swamiji/16.jpeg?updatedAt=1688314270154"
                                class="img-fluid" alt="...">
                            <div class="centered-bottom px-1 py-1">मुख्यमंत्री योगी आदित्यनाथ जी एवं महामण्डलेश्वर
                                स्वामी
                                आशुतोषानंद जी महाराज </div>

                        </a>
                    </div>
                    <div class="row thumb">
                        <a href="">
                            <img src="https://ik.imagekit.io/kailash/yogiji-swamiji/11.jpeg?updatedAt=1688314486154"
                                class="img-fluid" alt="...">
                            <div class="centered-bottom px-1 py-1">संवाददाताओं से बात करते महामण्डलेश्वर स्वामी
                                आशुतोषानंद जी
                                महाराज</div>

                        </a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around py-2">
                <!-- Facebook -->
                <a href="">
                    <i class="fa fa-facebook-official fa-3x" style="color: #3b5998;"></i>
                </a>
                <!-- Youtube -->
                <a href="">
                    <i class="fa fa-youtube-play fa-3x fa-flip" style="color: #ed302f;"></i>
                </a>
                <!-- Twitter -->
                <a href="">
                    <i class="fa fa-twitter-square fa-3x" style="color: #55acee;"></i>
                </a>
                <!-- Instagram -->
                <a href="">
                    <i class="fa fa-instagram fa-3x" style="color: #ac2bac;"></i>
                </a>
                <!-- Linkedin -->
                <a href="">
                    <i class="fa fa-linkedin-square fa-3x" style="color: #0082ca;"></i>
                </a>
            </div>
        </div>
        <div class="card socials-card">
            <h4 class="py-1 px-3" style="background-color: #ffc982; color: brown;">स्थान</h4>
            <div class="d-flex justify-content-around py-2">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d225.43974349581302!2d82.98714012514301!3d25.302998019974343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e32072305ba2d%3A0x346c4418be2e58ea!2sKailash%20Math!5e0!3m2!1sen!2sin!4v1688304780867!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>