<div class="wrap">
    <div class="container-fluid">
        <div class="col-12 col-md-6 m-0 p-0 left-column">
            <div class="row" id="stuti">
                <div class="text-center pt-5">
                    <h4>शिव स्तुति</h4>
                </div>
                <p>
                    आशुतोष सशाँक शेखर चन्द्र मौली चिदंबरा,<br>
                    कोटि कोटि प्रणाम शम्भू कोटि नमन दिगम्बरा,<br><br>

                    निर्विकार ओमकार अविनाशी तुम्ही देवाधि देव ,<br>
                    जगत सर्जक प्रलय करता शिवम सत्यम सुंदरा ,<br><br>

                    निरंकार स्वरूप कालेश्वर महा योगीश्वरा ,<br>
                    दयानिधि दानिश्वर जय जटाधार अभयंकरा,<br><br>

                    शूल पानी त्रिशूल धारी औगड़ी बाघम्बरी ,<br>
                    जय महेश त्रिलोचनाय विश्वनाथ विशम्भरा,<br><br>

                    नाथ नागेश्वर हरो हर पाप साप अभिशाप तम,<br>
                    महादेव महान भोले सदा शिव शिव संकरा,<br><br>

                    जगत पति अनुरकती भक्ति सदैव तेरे चरण हो,<br>
                    क्षमा हो अपराध सब जय जयति जगदीश्वरा,<br><br>

                    जनम जीवन जगत का संताप ताप मिटे सभी,<br>
                    ओम नमः शिवाय मन जपता रहे पञ्चाक्षरा,<br><br>

                    आशुतोष सशाँक शेखर चन्द्र मौली चिदम्बरा,<br>
                    कोटि कोटि प्रणाम संभु कोटि नमन दिगम्बरा,<br><br>
                </p>
            </div>
            <hr>
            <div class="row" id="aarti">
                <div class="text-center pt-5">
                    <h4 style="font-weight: bold; color: blue;">शिव आरती</h4>
                </div>
                <p class="para">
                    ओम जय शिव ओंकारा, स्वामी जय शिव ओंकारा। <br>
                    ब्रह्मा, विष्णु, सदाशिव, अर्द्धांगी धारा॥<br>
                    ओम जय शिव ओंकारा॥<br><br>

                    एकानन चतुरानन पञ्चानन राजे।<br>
                    हंसासन गरूड़ासन वृषवाहन साजे॥<br>
                    ओम जय शिव ओंकारा॥<br><br>

                    दो भुज चार चतुर्भुज दसभुज अति सोहे।<br>
                     त्रिगुण रूप निरखते त्रिभुवन जन मोहे॥<br>
                    ओम जय शिव ओंकारा॥<br><br>

                    अक्षमाला वनमाला मुण्डमालाधारी।<br>
                    त्रिपुरारी कंसारी कर माला धारी॥<br>
                    ओम जय शिव ओंकारा॥<br><br>

                    श्वेताम्बर पीताम्बर बाघंबर अंगे।<br>
                    सनकादिक गरुड़ादिक भूतादिक संगे॥<br>
                    ओम जय शिव ओंकारा॥<br><br>

                    कर के मध्य कमण्डलु चक्र त्रिशूलधारी।<br>
                     सुखकारी दुखहारी जगपालनकारी॥<br>
                    ओम जय शिव ओंकारा॥<br><br>

                    ब्रह्मा विष्णु सदाशिव जानत अविवेका।<br>
                     मधु-कैटभ दो‌उ मारे, सुर भयहीन करे॥<br>
                    ओम जय शिव ओंकारा॥<br><br>

                    लक्ष्मी, सावित्री पार्वती संगा।<br>
                     पार्वती अर्द्धांगी, शिवलहरी गंगा॥<br>
                    ओम जय शिव ओंकारा॥<br><br>

                    पर्वत सोहैं पार्वती, शंकर कैलासा।<br>
                     भांग धतूर का भोजन, भस्मी में वासा॥<br>
                    ओम जय शिव ओंकारा॥<br><br>

                    जटा में गंग बहत है, गल मुण्डन माला।<br>
                     शेष नाग लिपटावत, ओढ़त मृगछाला॥<br>
                    ओम जय शिव ओंकारा॥<br><br>

                    काशी में विराजे विश्वनाथ, नन्दी ब्रह्मचारी।<br>
                     नित उठ दर्शन पावत, महिमा अति भारी॥<br>
                    ओम जय शिव ओंकारा॥<br>

                    त्रिगुणस्वामी जी की आरति जो कोइ नर गावे।<br>
                     कहत शिवानन्द स्वामी, मनवान्छित फल पावे॥<br>
                    ओम जय शिव ओंकारा॥ ओम जय शिव ओंकारा॥<br><br>
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 m-0 p-0 right-column">
            <div class="row" id="">
                <app-right-aside class="p-5"></app-right-aside>
            </div>
        </div>
    </div>
</div>