<div class="whole">

    <div class="profile-container">
        <div class="profile-picture">
            <a data-bs-toggle="modal" data-bs-target="#full_size_image_dialog">
                <img src="../../assets/imgs/shankaracharya/shankaracharya_new.jpg"
                    class="figure-img img-fluid border border-dark">
            </a>
        </div>
    </div>
    <div id="full_size_image_dialog" class="modal">
        <div class="modal-dialog modal-dialog-scrollable">
            <!-- <div class="modal-content"> -->
            <div class="modal-header">
                <h5>
                    Adi Shankaracharya
                </h5>
            </div>
            <!-- <div class="modal-body border-dark full-screen"> -->
            <img src="../../assets/imgs/shankaracharya/shankaracharya_new.jpg" class="">
            <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
    <div class="profile-details">
        <h2>आदि शंकराचार्य</h2>
        <p>जन्म तिथि: 700 सीई</p>
        <p>स्थान: कालडी, चेरा साम्राज्य (केरल, भारत में वर्तमान कोच्चि)</p>
    </div>
    <div class="profile-images">
        <img src="../../assets/imgs/shankaracharya/Raja_Ravi_Varma_-_Sankaracharya.jpg" alt="Image 1" />
        <img src="../../assets/imgs/shankaracharya/1-1 adi.jpg" alt="Image 2" />
        <img src="../../assets/imgs/shankaracharya/the_adi.jpg" alt="Image 3" />
    </div>
    <div class="container">
        <div class="profile-bio">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 ">

                    <h3>परिचय</h3>
                    <p>
                        आदि शंकराचार्य, 8वीं सदी ईसा पूर्व में जन्मे, महान भारतीय दार्शनिक, तत्वज्ञानी और पंडित थे,
                        जिन्होंने हिन्दू धर्म के बौद्धिक और आध्यात्मिक परंपराओं को पुनर्जीवित किया। उनके प्रबोधक
                        शिक्षाओं और पवित्र ग्रंथों पर टिप्पणियों के माध्यम से, शंकराचार्य ने सत्य की तलाश करने वालों के
                        लिए एक मार्गदर्शक प्रकाश बने। यह निबंध आदि शंकराचार्य के जीवन, कार्य और दीर्घकालिक प्रभाव को
                        विश्लेषण करेगा।
                    </p>
                    <br>


                    <h3>बचपन और शिक्षा:</h3>
                    <p>
                        आदि शंकराचार्य के जन्म स्थान केरल के कालडी में एक आदर्श ब्राह्मण परिवार में हुआ था। बचपन से ही
                        उनमें असाधारण बुद्धिमत्ता और भक्ति की प्रतीति दिखाई दी। आठ वर्ष की उम्र में उन्होंने ज्ञान और
                        आध्यात्मिक जागरण के लिए घर छोड़ दिया। उनके गुरु, गोविंद भगवत्पाद के मार्गदर्शन में शंकराचार्य ने
                        वेदों, उपनिषदों और विभिन्न शिक्षा विभागों का समर्थन किया।
                    </p>
                    <br>

                    <h3>वेदांत दर्शन की पुनरुत्थान:</h3>
                    <p>
                        शंकराचार्य ने वेदांत दर्शन के पुनरुत्थान में महत्वपूर्ण भूमिका निभाई, जो अस्तित्व की एकता और
                        व्यक्तिगत आत्मा (आत्मन) और परम वास्तविकता (ब्रह्मन) की पहचान पर जोर देता है। उन्होंने उपनिषदों,
                        भगवद्गीता और ब्रह्म सूत्रों जैसे प्राचीन ग्रंथों पर कई गहन टिप्पणियाँ लिखीं, जो विभिन्न दार्शनिक
                        परंपराओं को समन्वित करके महत्वपूर्ण व्याख्यान प्रदान करती हैं।
                    </p>
                    <br>

                    <h3>मठों की स्थापना:</h3>
                    <p>
                        ज्ञान के संरक्षण और प्रसार के लिए संगठित संस्थानों की महत्ता को महसूस करते हुए, शंकराचार्य ने
                        भारत के चार प्रमुख संन्यासी केंद्रों (मठों) की स्थापना की। ये मठ शिक्षा के केंद्र के रूप में
                        कार्य करते हैं, जहां विद्वानों की प्रशिक्षण प्राप्त करते हैं और आध्यात्मिक खोजकर्ताओं को
                        मार्गदर्शन मिलता है। ये मठ हिन्दू धर्म के आध्यात्मिक और बौद्धिक जीवन में महत्वपूर्ण भूमिका
                        निभाते हैं।</p>
                        <br><br>
                       <p>
                           आदि शंकराचार्य द्वारा स्थापित चार मठों के नाम, स्थान और कारण निम्नलिखित हैं:
                       </p> 
                        <ul>
                            <li>
                                <h5>शृङ्गेरी शारदा पीठम्: </h5>
                                <p>शृङ्गेरी, कर्नाटक में स्थित यह मठ आदि शंकराचार्य द्वारा 8वीं शताब्दी में स्थापित किया गया था। यह मठ देवी शारदा (देवी सरस्वती की एक अवतारी) को समर्पित है और आदि शंकराचार्य द्वारा स्थापित प्रथम मठ माना जाता है। शृङ्गेरी शारदा पीठम् वेदाध्ययन के लिए प्रसिद्ध है और विद्वत्ता की परम्परा के लिए महत्वपूर्ण माना जाता है।</p>
                            </li>
                            <li>
                                <h5>द्वारका पीठम्:</h5>
                                <p>गुजरात के द्वारका में स्थित यह मठ भगवान कृष्ण को समर्पित है। आदि शंकराचार्य ने यह मठ भारत के पश्चिमी भाग में स्थापित किया था। द्वारका पीठम्, द्वारकाधीश मंदिर से गहन रूप से जुड़ा हुआ है और आदि शंकराचार्य की परंपरा के चार प्रमुख स्थानों में से एक माना जाता है।</p>
                            </li>
                            <li>
                                <h5>गोवर्धन मठ:</h5>
                                <p>ओडिशा के पुरी में स्थित यह मठ भगवान जगन्नाथ को समर्पित है। आदि शंकराचार्य ने गोवर्धन मठ की स्थापना पूर्वी भारत में अपने उपदेशों को प्रसारित करने के लिए की थी। यह मठ प्रसिद्ध जगन्नाथ मंदिर के पास स्थित है और आद्वैत वेदांत परंपरा के संरक्षण और प्रचार में महत्वपूर्ण भूमिका निभाता है।</p>
                            </li>
                            <li>
                                <h5>ज्योतिर्मठ (जोशीमठ):</h5>
                                <p>उत्तराखंड, भारत में स्थित यह मठ जोशीमठ नगर में स्थित है। ज्योतिर्मठ भगवान बद्रीनाथ को समर्पित है। आदि शंकराचार्य ने यह मठ उत्तरी भारत में बद्रीनाथ मंदिर से सम्बंधित धार्मिक गतिविधियों का प्रबंधन करने के लिए स्थापित किया था। ज्योतिर्मठ ऐतिहासिक और आध्यात्मिक महत्व के लिए जाना जाता है।</p>
                            </li>
                        </ul>

                        <p>ये चार मठ भारत के विभिन्न क्षेत्रों में रणनीतिपूर्वक स्थापित किए गए थे ताकि देश भर में आद्वैत वेदांत दर्शन को फैलाने और संभालने का संकल्प पूरा हो सके। ये मठ शिक्षा, आध्यात्मिक मार्गदर्शन और सांस्कृतिक विरासत के महत्वपूर्ण केंद्रों के रूप में कार्य करते आए हैं और कई सदियों से महत्वपूर्ण रहे हैं।</p>
                    <br>

                    <h3>तर्क और ज्ञान का प्रसार:</h3>
                    <p>
                        शंकराचार्य ने विभिन्न दार्शनिक पाठशालाओं के प्रतिनिधियों के साथ तीव्र वाद-विवाद किए। उनके मजबूत
                        तर्क और तर्कसंगत विचारधारा के माध्यम से, उन्होंने विपरीत मतों को सफलतापूर्वक खंडित किया और
                        वेदांत दर्शन की प्रमुखता को पुनः स्थापित किया। ये वाद-विवाद न केवल उनके खुद के दर्शन को दृढ़ीकरण
                        में सहायता पहुंचाई, बल्कि हिन्दू धर्म को एक जीवंत और बौद्धिक रूपांतरण की भी सहायता की।
                    </p>
                    <br>

                    <h3>तीर्थयात्रा और आध्यात्मिक उपदेश:</h3>
                    <p>
                        शंकराचार्य ने पूरे भारत में विशेष महत्वपूर्ण स्थलों पर विशेषतः यात्राएँ कीं, जहां पूज्य स्थलों
                        का दर्शन किया और विद्वानों और साधकों को आध्यात्मिक उपदेश प्रदान किया। उन्होंने "भज गोविन्दम" और
                        "सौंदर्य लहरी" जैसे सुंदर स्तुतिमय कीर्तन और भक्तिपूर्ण गीत रचे, जो आध्यात्मिक खोजकर्ताओं को
                        प्रेरणा और उद्धार करते हैं। उनके उपदेश में आत्म-ज्ञान, ईश्वर के प्रति भक्ति और नैतिक जीवन की
                        महत्ता पर जोर दिया गया।
                    </p>
                    <br>

                    <h3>समानता और एकता:</h3>
                    <p>
                        शंकराचार्य ने अलग-अलग हिंदू सम्प्रदायों और उप-परंपराओं के बीच समानता और एकता को प्रोत्साहित करने के लिए कड़ी मेहनत की। उन्होंने सभी धार्मिक मार्गों की मौलिक एकता को मान्यता दी और अद्वैत के महत्वपूर्ण शिक्षाओं पर जोर दिया। शंकराचार्य का समावेशी दृष्टिकोण विभिन्न विश्वासों और आचरणों के अवश्यक सिद्धांतों की मान्यता करने में मदद की, जो विभिन्न समुदायों के बीच सहजता और समझ की विकास को बढ़ावा देने के लिए आवश्यक थी।
                    </p>
                    <br>

                    <h3>विरासत और प्रभाव:</h3>
                    <p>
                        आदि शंकराचार्य के प्रख्यात योगदानों ने भारतीय आध्यात्मिक और दार्शनिक मनचल को एक अमिट छाप छोड़ी है। उनके उपदेश लाखों लोगों को आध्यात्मिक जागरण और समझ की तलाश में मार्गदर्शन करते हैं। उनके संन्यासी आदेश और उन्होंने स्थापित किए गए मठ आज भी चार्टर्ड ब्रांचों के रूप में चल रहे हैं और आध्यात्मिक ज्ञान की परंपरा को जारी रखते हैं।
                    </p>
                    <br>

                    <hr>
                    <p>आदि शंकराचार्य भारतीय दर्शन और वेदान्त के आचार्य और एक महान संत थे। वे भारतीय दर्शन की प्रमुख
                        प्रवर्तकों
                        में से एक माने जाते हैं। आदि शंकराचार्य का जन्म केरल के कलादी ग्राम में आया था और उनका जन्मस्थान
                        मलबार
                        क्षेत्र में स्थित था। इसलिए वे मालबार संप्रदाय के लोगों के द्वारा आदर्श में रखे जाते हैं। आदि
                        शंकराचार्य ने
                        जीवन के दौरान वेदान्तिक विचारधारा को मजबूत बनाया और अनेक दार्शनिक, वेदान्तिक और धार्मिक
                        सिद्धांतों की
                        व्याख्या की।

                        आदि शंकराचार्य ने अपने छोटे उम्र में ही धार्मिक और दार्शनिक ज्ञान प्राप्त किया था। उन्होंने
                        विद्या
                        प्राप्त
                        करने के बाद बहुत सारी यात्राएँ की और विभिन्न गुरुओं से शिक्षा प्राप्त की। उन्होंने जीवन के दौरान
                        अपने अद्वैत
                        वेदान्त के सिद्धांतों की प्रचार-प्रसार किया और लोगों को उच्च आध्यात्मिक ज्ञान दिया। वे मायावादी
                        वाद
                        का
                        प्रतिपादन करते थे, जिसमें माया और

                        ब्रह्म के अस्तित्व का सिद्धांत व्याख्यात किया जाता है।

                        आदि शंकराचार्य ने अपनी ग्रंथों के माध्यम से वेदान्त विचारों को बहुत आसान तरीके से समझाया। उनकी
                        महत्त्वपूर्ण
                        ग्रंथों में "विवेक चूड़ामणि", "आत्मानात्मविवेक", "उपदेश साहस्री" आदि शामिल हैं। ये ग्रंथ वेदान्त
                        और
                        आध्यात्मिक ज्ञान के प्रमुख स्रोत माने जाते हैं।

                        आदि शंकराचार्य ने अपने जीवन के दौरान भारतीय विद्यालयों की स्थापना की और वेद पाठशालाओं की
                        संस्कृति को
                        बचाने
                        के लिए संगठनों की गठन की। उनके द्वारा स्थापित मठ और पीठों को आज भी लोग पूजते हैं और उनके उपदेशों
                        का
                        पालन
                        करते हैं। उन्होंने विभिन्न वेदान्तिक मठों की स्थापना की, जिन्होंने अनेक साधुओं और संन्यासियों को
                        आध्यात्मिक
                        शिक्षा प्रदान की।

                        आदि शंकराचार्य ने वेदान्त, आध्यात्मिकता और सनातन धर्म के प्रतिनिधित्व में एक महान योगदान दिया
                        है।
                        उनके विचार
                        और सिद्धांत आज भी द

                        ुनिया भर के लोगों को प्रेरित कर रहे हैं। उनके जीवन और दर्शन में संतोष, वैराग्य, आध्यात्मिकता और
                        ज्ञान की
                        महत्वपूर्ण शिक्षाएं समाहित हैं। आदि शंकराचार्य का योगदान भारतीय संस्कृति और धार्मिकता के विकास
                        में
                        अविस्मरणीय है।

                        इस प्रकार, आदि शंकराचार्य ने अपने दार्शनिक विचारों, ग्रंथों और अपने जीवन के माध्यम से एक महान
                        संदेश
                        दिया है।
                        उनका योगदान भारतीय दर्शन, आचार्य और आध्यात्मिकता के क्षेत्र में अमर है और हमेशा रहेगा। उनके जीवन
                        और
                        दर्शन को
                        अध्ययन करके हम आध्यात्मिकता, संतोष, ज्ञान और मोक्ष के प्रति अपनी समझ को विस्तारित कर सकते हैं।
                    </p>
                    <p>आदि शंकराचार्य के जीवन का एक महत्वपूर्ण पहलू उनके युवावस्था में हुआ। वह न केवल एक विद्वान् और
                        दार्शनिक थे,
                        बल्कि एक उत्कृष्ट वक्ता और प्रवर्तक भी। वे देश-देशांतर में यात्राएँ करके अपने दर्शनों को लोगों
                        तक
                        पहुँचाते
                        थे। उनके द्वारा स्थापित चार मठों के माध्यम से उन्होंने विभिन्न क्षेत्रों में आध्यात्मिक संदेश को
                        प्रसारित
                        किया। इन मठों में छात्रों को उच्च शिक्षा दी जाती थी और उन्हें आध्यात्मिकता, वेदांत, वेद और
                        पूराणों
                        का गहन
                        अध्ययन कराया जाता था।

                        आदि शंकराचार्य ने अपने जीवन के दौरान ब्रह्मानंद की प्राप्ति के लिए संन्यास ली थी। उन्होंने संसार
                        के
                        साथ
                        त्याग स्वीकार किया और केवल आत्मा में लीन रहने का आदर्श प्रस्तुत किया। वे अपने आध्यात्मिक अनुभवों
                        के
                        माध्यम
                        से मनुष्यों को संसार से उद्धार की ओर प्रेरित करते थे। उन्होंने भारतीय दर्शन, संस्कृति और धार्म
                        के
                        लिए एक नया
                        मार्ग प्रशस्त किया औ

                        र उसे समाज में स्थापित करने के लिए कड़ी मेहनत की।

                        आदि शंकराचार्य की विचारधारा और उनके दर्शन विभिन्न धर्मों के लोगों को प्रभावित करते रहे हैं। उनके
                        सिद्धांतों
                        और विचारों का महत्व विश्वस्तरीय है। वे सत्य की प्राथमिकता, ज्ञान की महत्ता, और आत्मानुभूति की
                        अनिवार्यता को
                        बताते हैं। उनके द्वारा बताए गए संक्षेप में, वे कहते हैं कि सच्ची प्राप्ति और मुक्ति केवल आत्मा
                        के
                        अद्वैतीयता
                        के माध्यम से हो सकती है।

                        आदि शंकराचार्य ने अपने जीवन में आध्यात्मिक साधनाओं, संयम, ध्यान और भजन के महत्त्व को बताया।
                        उन्होंने
                        उच्चतम
                        सत्य की प्राप्ति के लिए मन, शरीर और आत्मा के एकीकरण को प्रस्तुत किया। वे श्रुति, युक्ति और अनुभव
                        के
                        आधार पर
                        आत्मा में प्रत्येक व्यक्ति को एकता और शांति का अनुभव करने की उपयोगीता सिखाते हैं।

                        समस्त भारतीय उपमहाद्वीप में और विदेशों में भी, आदि शंकराचार्य की पूजा-अराधना विशेष आदर्श के रूप
                        में

                        मानी जाती है। उनके साधनाओं, उपदेशों और जीवन मार्ग का अनुसरण करने वाले लोग अपने जीवन को
                        आध्यात्मिकता,
                        शांति
                        और समृद्धि के दिशा में अग्रसर रखते हैं। उन्हें आदि शंकराचार्य के उदाहरण से प्रेरणा मिलती है और
                        उनके
                        विचारों
                        से जीवन में सही मार्ग प्राप्त होता है।

                        आदि शंकराचार्य ने भारतीय संस्कृति और धार्मिकता को एक नया मार्ग प्रदान किया है। उनके द्वारा
                        प्रस्तुत
                        किए गए
                        दर्शनिक विचार आज भी हमारे जीवन को मार्गदर्शन करते हैं और हमें आध्यात्मिकता, सत्य और प्रेम के
                        मार्ग
                        पर चलने
                        के लिए प्रेरित करते हैं। आदि शंकराचार्य एक महान दार्शनिक, आचार्य और महात्मा थे, जिनका योगदान
                        हमारी
                        समाजिक और
                        आध्यात्मिक प्रगति में अविस्मरणीय है।</p>
                </div>
                <div class="col-2 "></div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>