<div class="p-3" href="" style="text-decoration: none;">
    <div class="card card-wrap text-center mb-4">
        <div class="card-cup bg-primary"></div>
        <div class="card-body proavatar">
            <div class="card-avatar avatar-border mt-n5" style="background-image: url('{{receivedData['imgUrl']}}');">
                <!-- <svg>
                    <rect width="100%" height="100%" fill="#495057"></rect>
                </svg> -->
            </div>
            <h5 class="card-title mb-1">{{receivedData['name']}}</h5>
            <hr>
            <div>
                <div class="">जन्म तिथि : {{receivedData['dob']}}</div>
                <p class="mt-2 mb-1">महामंडलेश्वर का पद संतों और आध्यात्मिक गुरुओं की महत्वपूर्ण पदवी है, </p>
            </div>
        </div>


    </div>
</div>