
<div class=" p-1 justify-content-center align-items-stretch">
    <div class="card">
        <div class="user text-center mt-2">
            <div class="profile">
                <a href="{{receivedData['imgUrl']}}">
                    <img src="{{receivedData['imgUrl']}}" class="rounded-circle" width="80">
                </a>
            </div>
        </div>

        <div class="text-center mx-2">
            <p class="mb-0">{{receivedData['name']}}</p>
            <span class="text-muted d-block mb-1">{{receivedData['dura']}}</span>
        </div>

    </div>

</div>