
.card {
    border: none;
    border-radius: 10px;
    background-color: #ffffff83;
}

.upper img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.profile img{
    padding: 2px;
    border: 1px solid #de0000;
    border-radius: 50%;
    filter: contrast(1.2);
}

@media only screen and (max-width: 600px) {
    img {
        width: 50px;
    }
}