<div class="left-column">
    <div class="d-flex justify-content-center">
        <app-post-card></app-post-card>
    </div>
</div>
<div class="right-column">
    <div class="card">
      <app-right-aside></app-right-aside>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg"><img
          src="https://lh5.googleusercontent.com/p/AF1QipPVFk_GX-3fSQIgcl75B-qGlWjAesqa2FKxjO-f=w500-h240-k-no"
          alt="" srcset=""></div><br>
      <div class="fakeimg"><img
          src="https://rgyan-flutter200503-dev.s3.ap-south-1.amazonaws.com/public/pg-content/uploads/2018-03/kailash-muttt.jpg"
          alt="" srcset=""></div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>