.left-column {   
    padding-top: 10px;
    float: left;
    width: 70%;
    // background-color: wheat;
  }
  
  
  .right-column {
    float: left;
    width: 30%;
    // padding-left: 20px;
  }


.right-column .card {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  .fakeimg img {
    width: 100%;
  }

  @media screen and (max-width: 800px) {

    .left-column,
    .right-column {
      width: 100%;
      padding: 0;
    }
  }

  @media only screen and (max-width: 480px) {
    .left-column .container-fluid img {
      width: 100%;
      height: 30%;
      object-fit: cover;
    }
  }

@media screen and (max-width: 775px) {
    aside {
      display: none;
      visibility: hidden;
    }
  }

  @media only screen and (max-width: 480px) {
    .left-column .container-fluid img {
      width: 100%;
      height: 30%;
      object-fit: cover;
    }
  }
    
