<div class="whole">
    <div class="left-column">
      <div class="sanatan-sanskriti">
        <div class="card kailash-math-art border-0 mb-4">
          <div class="container1">
            <h3 class="heading">कैलाश मठ गौशाला</h3>
            <div class="content-1">
              <div class="col-md-8 ">
                <h3 class="text-center" style="text-shadow: 0px 0px 10px white;">गोवंश की सेवा एवं गौशाला प्रबन्धन</h3>
                <p>
                    भारतीय संस्कृति में गौमाता का अत्यन्त महत्वपूर्ण स्थान है, गौमाता की पूजा वैदिक काल से चली आ रही है, जिसे द्वापर युग में भगवान श्री कृष्ण ने पुनः प्रतिष्ठापित करते हुए गौमाता की सेवा स्वयं की एवं सम्पूर्ण मानव समाज को गौसेवा करने का मार्ग दर्शन दिया। जिसे द्वापर युग से लेकर कलयुग तक जारी है, लेकिन आधुनिकता का दिखावा करने के कारण नव समाज उससे दूर होता जा रहा है, उपरोक्त गौसेवा, एवं गौरक्षा का कार्य प्रतिष्ठित सन्त समाज कैलाश मठ काशी के महामण्डलेशवर 1008 श्री रामचन्द्र गिरी जी के सनिध्य में सम्पूर्ण निष्ठा के साथ हो रहा है।
                    
                    हमारी दूसरी शाखा में गौ सेवा
                    
                    काशगंज शूकर क्षेत्र सौरो जी जिला काशगंज (उ0प्र0) में भगवान वाराहा मन्दिर परिसर में गौशाला सुशोभित है जहाँ 100 से अधिक देशी गोवंश जिसे हमारे स्वंय सेवक कसाईयों से छुड़ा कर लाये, उपरोक्त गोवंश की सेवा पूर्ण निष्ठा के साथ सन्त समाज द्वारा जारी है आप भी उसमें सम्मिलित होकर पुण्य के भागी बनें।
                    </p>
              </div>
              <div class="col-md-4">
                <img
                  src="https://ik.imagekit.io/kailash/gaushala/gaushala-swami-1.jpg?updatedAt=1688375225824"
                  alt="First image">
              </div>
            </div>
            <div class="content-2">
              <div class="col-md-4">
                <img
                  src="https://ik.imagekit.io/kailash/gaushala/DSC09490.JPG?updatedAt=1688375262192"
                  alt="Second image">
              </div>
              <div class="col-md-8">
                <h3 class="text-center" style="text-shadow: 0px 0px 10px white;">हमारी दूसरी शाखा में गौ सेवा</h3>

                <p>
                    काशगंज शूकर क्षेत्र सौरो जी जिला काशगंज (उ0प्र0) में भगवान वाराहा मन्दिर परिसर में गौशाला सुशोभित है जहाँ 100 से अधिक देशी गोवंश जिसे हमारे स्वंय सेवक कसाईयों से छुड़ा कर लाये, उपरोक्त गोवंश की सेवा पूर्ण निष्ठा के साथ सन्त समाज द्वारा जारी है आप भी उसमें सम्मिलित होकर पुण्य के भागी बनें।
                </p>
            </div>
            </div>
          </div>
  
          <div class="container1">
            <div>
                <app-gaushala-media></app-gaushala-media>
            </div>
            <div>
            </div>
  
  
          </div>
        </div>
      </div>
    </div>
    <div class="right-column">
      <div class="card">
        <app-right-aside></app-right-aside>
      </div>
      <div class="card rounded fa-border">
        <h3 class="py-1 px-3 m-0 rounded" style=" background-color: #ca0000; color: white;">Popular Post</h3>
        <div class="facebook-responsive">
          <iframe frameborder=0 height=250 width=550
            src="https://twitframe.com/show?url=https%3A%2F%2Ftwitter.com%2Fmyogiadityanath%2Fstatus%2F1667843547209555970"></iframe>
        </div>
      <div class="facebook-responsive">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSwamiAshutoshanand%2Fposts%2Fpfbid0oRD3ZaU9TZRFhqdPQ9YURrhhNZujDk4KtkayVPM7MZ6P7UfbWBUjLpE3fCxmpSiUl&width=500&show_text=false&height=882&appId" width="500" height="882" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
    </div>
  </div>
  