<div class="whole">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a class="thumbnail" routerLink="/print-media" data-image-id="" data-toggle="modal" data-title=""
            data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            data-target="#image-gallery">
            <img class="img-thumbnail"
              src="https://ik.imagekit.io/kailash/gallery-page/news1-1.jpg?updatedAt=1688319913397"
              alt="Another alt text">
            <div class="centered-bottom px-4 py-3">प्रिंट मीडिया</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a class="thumbnail" routerLink="/math-media" data-image-id="" data-toggle="modal" data-title=""
            data-image="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            data-target="#image-gallery">
            <img class="img-thumbnail"
              src="https://ik.imagekit.io/kailash/gallery-page/math-1.jpg?updatedAt=1688319913486"
              alt="Another alt text">
            <div class="centered-bottom px-4 py-3">कैलाश मठ</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a class="thumbnail" routerLink="/swamiji-media" data-image-id="" data-toggle="modal" data-title=""
            data-image="https://ik.imagekit.io/kailash/gallery-page/swamiji-1.jpg?updatedAt=1688336139807"
            data-target="#image-gallery">
            <img class="img-thumbnail"
              src="https://ik.imagekit.io/kailash/gallery-page/swamiji-1.jpg?updatedAt=1688336139807"
              alt="Another alt text">
            <div class="centered-bottom px-4 py-3">स्वामी आशुतोषानंद</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a class="thumbnail" routerLink="/gurukul-media" data-image-id="" data-toggle="modal" data-title=""
            data-image="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            data-target="#image-gallery">
            <img class="img-thumbnail"
              src="https://ik.imagekit.io/kailash/gallery-page/gurukul-1.jpg?updatedAt=1688319913433"
              alt="Another alt text">
            <div class="centered-bottom px-4 py-3">गुरुकुल</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a class="thumbnail" routerLink="/gaushala-media" data-image-id="" data-toggle="modal" data-title=""
            data-image="https://ik.imagekit.io/kailash/gallery-page/gaushala-1.jpg?updatedAt=1688319913504"
            data-target="#image-gallery">
            <img class="img-thumbnail"
              src="https://ik.imagekit.io/kailash/gallery-page/gaushala-1.jpg?updatedAt=1688319913504"
              alt="Another alt text">
            <div class="centered-bottom px-4 py-3">गौशाला</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a class="thumbnail" routerLink="/social-services-media" data-image-id="" data-toggle="modal" data-title=""
            data-image="https://ik.imagekit.io/kailash/social-works/social-service-1.jpg?updatedAt=1688364570603"
            data-target="#image-gallery">
            <img class="img-thumbnail"
              src="https://ik.imagekit.io/kailash/social-works/social-service-1.jpg?updatedAt=1688364570603"
              alt="Another alt text">
            <div class="centered-bottom px-4 py-3">समाज सेवा</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a class="thumbnail" routerLink="/katha-media" data-image-id="" data-toggle="modal" data-title=""
            data-image="https://ik.imagekit.io/kailash/katha-pravachan/katha-1.jpg?updatedAt=1688364953360"
            data-target="#image-gallery">
            <img class="img-thumbnail"
              src="https://ik.imagekit.io/kailash/katha-pravachan/katha-1.jpg?updatedAt=1688364953360"
              alt="Another alt text">
            <div class="centered-bottom px-4 py-3">प्रवचन/कथा</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a class="thumbnail" routerLink="/monks-media" data-image-id="" data-toggle="modal" data-title=""
            data-image="https://ik.imagekit.io/kailash/monks/monks-1.jpg?updatedAt=1688365183545"
            data-target="#image-gallery">
            <img class="img-thumbnail"
              src="https://ik.imagekit.io/kailash/monks/monks-1.jpg?updatedAt=1688365183545"
              alt="Another alt text">
            <div class="centered-bottom px-4 py-3">साधु संत</div>
          </a>
        </div>
      </div>


      <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="image-gallery-title"></h4>
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                  class="sr-only">Close</span>
              </button>
            </div>
            <div class="modal-body">
              <img id="image-gallery-image" class="img-responsive col-md-12" src="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i
                  class="fa fa-arrow-left"></i>
              </button>

              <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i
                  class="fa fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>